<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="Check_Later_Build" X="50" Y="50" Width="375" Height="270" Title="!(loc.IDS_DIALOGTITLE)" CustomPalette="yes">
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="[DefDialogFont]&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Event="DoAction" Value="check_update.exe">NOCHECK=0</Publish>
          <Publish Event="NewDialog" Value="License_Dialog">NOT HKCUSESSIONDATE OR (HKCUSESSIONDATE=HKLMSESSIONDATE)</Publish>
          <Publish Event="NewDialog" Value="User_Information_Dialog">NOT RESUME AND NOT UPGRADINGPREVIOUSBUILD AND NOT (NOT HKCUSESSIONDATE OR (HKCUSESSIONDATE=HKLMSESSIONDATE))</Publish>
          <Publish Event="NewDialog" Value="components">UPGRADINGPREVIOUSBUILD AND NOT (NOT HKCUSESSIONDATE OR (HKCUSESSIONDATE=HKLMSESSIONDATE))</Publish>
          <Publish Property="IACCEPTEULA" Value="1">NOT (NOT HKCUSESSIONDATE OR (HKCUSESSIONDATE=HKLMSESSIONDATE))</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="[DefDialogFont]&lt; &amp;Back" TabSkip="no">
          <Publish Event="NewDialog" Value="Welcome_Dialog">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="[DefDialogFont]Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Line7" Type="Line" X="80" Y="234" Width="284" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="RadioButtonGroup" Type="RadioButtonGroup" X="28" Y="118" Width="331" Height="39" Property="NOCHECK" Text="[DefDialogFont]" TabSkip="yes" />
        <Control Id="Text18" Type="Text" X="8" Y="6" Width="320" Height="16" Text="[_WiseDialogTitleFontDefault]Check for latest build availability" TabSkip="yes" Transparent="yes" />
        <Control Id="Text19" Type="Text" X="23" Y="23" Width="303" Height="14" Text="[DefDialogFont]Check for a newer Version of [ProductName]" TabSkip="yes" Transparent="yes" />
        <Control Id="Line17" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Bitmap23" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text20" Type="Text" X="2" Y="230" Width="72" Height="11" Text="[DefDialogFont][GFITM]" TabSkip="yes" />
        <Control Id="CustomText6" Type="Text" X="19" Y="63" Width="328" Height="39" Text="[DefDialogFont]This installation can check whether there is a newer build for [ProductName] downloadable from the GFI web site. This procedure will require an internet connection in order to connect to the GFI web site." TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>