<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="components" X="50" Y="50" Width="375" Height="270" Title="!(loc.IDS_DIALOGTITLE)" CustomPalette="yes">
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="[DefDialogFont]&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Property="EXCHANGECONNECTOR" Value="0">EXCHANGECONNECTOR&lt;&gt;1</Publish>
          <Publish Property="REMOTEMONITOR" Value="0">REMOTEMONITOR&lt;&gt;1</Publish>
          <Publish Property="FAXSERVER" Value="0">FAXSERVER&lt;&gt;1</Publish>
          <Publish Property="REMOTEMONITOR">REMOTEMONITOR&lt;&gt;1 AND EXCHANGECONNECTOR&lt;&gt;1 and FAXSERVER&lt;&gt;1</Publish>
          <Publish Property="FAXSERVER">REMOTEMONITOR&lt;&gt;1 AND EXCHANGECONNECTOR&lt;&gt;1 and FAXSERVER&lt;&gt;1</Publish>
          <Publish Property="EXCHANGECONNECTOR">REMOTEMONITOR&lt;&gt;1 AND EXCHANGECONNECTOR&lt;&gt;1 and FAXSERVER&lt;&gt;1</Publish>
          <Publish Property="SINK" Value="1">IISSMTP=1 AND FAXSERVER=1</Publish>
          <Publish Property="SINK" Value="0">FAXSERVER&lt;&gt;1 AND EXCHANGECONNECTOR=1</Publish>
          <Publish Property="FMSERVERSHOWN" Value="1">(FAXSERVER&lt;&gt;1) AND ((EXCHANGECONNECTOR=1) OR (REMOTEMONITOR=1))</Publish>
          <Publish Property="FMSERVERSHOWN" Value="0">((FAXSERVER=1) OR (EXCHANGECONNECTOR=1)) AND (REMOTEMONITOR&lt;&gt;1)</Publish>
          <Publish Property="FAXmaker_12" Value="[ProgramMenuFolder]GFI FaxMaker Remote monitor">REMOTEMONITOR=1</Publish>
          <Publish Property="ProductName" Value="[ProductNameOriginal] Remote Monitor">REMOTEMONITOR=1 AND FAXSERVER&lt;&gt;1</Publish>
          <Publish Property="ProductName" Value="[ProductNameOriginal] Exchange SMTP Connector">(EXCHANGECONNECTOR=1) AND (FAXSERVER&lt;&gt;1)</Publish>
          <Publish Property="ProductName" Value="[ProductNameOriginal]">FAXSERVER=1</Publish>
          <Publish Event="DoAction" Value="CA_TerminateInstallInAbsenseOfHub">FAXSERVER=1 AND IISSMTP&lt;&gt;1 AND E2K7HUBTRANSPORTSERVER&lt;&gt;1 AND MsiNTProductType&lt;&gt;1</Publish>
          <Publish Event="NewDialog" Value="fmserver">((FAXSERVER&lt;&gt;1) AND ((EXCHANGECONNECTOR=1) OR (REMOTEMONITOR=1)))</Publish>
          <Publish Event="NewDialog" Value="userpass">FAXSERVER=1</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="[DefDialogFont]&lt; &amp;Back" TabSkip="no">
          <Publish Event="NewDialog" Value="User_Information_Dialog">NOT UPGRADINGPREVIOUSBUILD</Publish>
          <Publish Event="NewDialog" Value="License_Dialog">UPGRADINGPREVIOUSBUILD AND (NOT HKCUSESSIONDATE OR (HKCUSESSIONDATE=HKLMSESSIONDATE))</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="[DefDialogFont]Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="33" Y="87" Width="327" Height="24" Text="[DefDialogFont]Installs the fax server software." TabSkip="yes" />
        <Control Id="CheckBox" Type="CheckBox" X="20" Y="67" Width="200" Height="14" Property="FAXSERVER" Text="[DefDialogFont]GFI FaxMaker Fax Server" CheckBoxValue="1" TabSkip="yes">
          <Publish Property="REMOTEMONITOR" Value="1">FAXSERVER</Publish>
          <Publish Property="EXCHANGECONNECTOR" Value="1">FAXSERVER AND EXCHANGE=1</Publish>
        </Control>
        <Control Id="Line7" Type="Line" X="75" Y="234" Width="290" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Text18" Type="Text" X="8" Y="8" Width="306" Height="13" Text="[_WiseDialogTitleFontDefault]Select Components" TabSkip="yes" Transparent="yes" />
        <Control Id="Text19" Type="Text" X="29" Y="23" Width="300" Height="23" Text="[DefDialogFont]Which GFI FaxMaker components you would like to install?" TabSkip="yes" Transparent="yes" NoWrap="yes" />
        <Control Id="Line17" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Bitmap23" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text20" Type="Text" X="2" Y="230" Width="78" Height="12" Text="[DefDialogFont][GFITM]" TabSkip="yes" />
        <Control Id="CheckBox2" Type="CheckBox" X="20" Y="113" Width="200" Height="14" Property="REMOTEMONITOR" Text="[DefDialogFont]GFI FaxMaker Remote Monitor" CheckBoxValue="1" TabSkip="yes">
          <Condition Action="disable">FAXSERVER</Condition>
          <Condition Action="enable">NOT FAXSERVER</Condition>
        </Control>
        <Control Id="Text2523" Type="Text" X="33" Y="180" Width="324" Height="49" Text="[DefDialogFont]Configures a standard Exchange connector to forward faxes to GFI FaxMaker. Leave ticked if you are installing on the Exchange 2000/2003/2007/2010/2013 server. If not re-run setup on the Exchange machine with only this option ticked." TabSkip="yes">
          <Condition Action="disable">EXCHANGE=0 OR FAXSERVER</Condition>
          <Condition Action="enable">EXCHANGE=1 AND NOT FAXSERVER</Condition>
        </Control>
        <Control Id="CheckBox1" Type="CheckBox" X="20" Y="162" Width="327" Height="15" Property="EXCHANGECONNECTOR" Text="[DefDialogFont]Exchange 2000/2003/2007/2010/2013 SMTP connector" CheckBoxValue="1" TabSkip="yes">
          <Condition Action="disable">EXCHANGE=0 OR FAXSERVER</Condition>
          <Condition Action="enable">EXCHANGE=1 AND NOT FAXSERVER</Condition>
        </Control>
        <Control Id="Text2524" Type="Text" X="33" Y="137" Width="328" Height="26" Text="{\Microsoft_Sans_Serif8}Install this component on a remote machine to monitor the GFI FaxMaker server." TabSkip="yes" Disabled="yes">
          <Condition Action="disable">FAXSERVER</Condition>
          <Condition Action="enable">NOT FAXSERVER</Condition>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>