<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="DiskCost" X="50" Y="50" Width="354" Height="168" Title="!(loc.IDS_DIALOGTITLE)">
        <Control Id="OK" Type="PushButton" X="287" Y="144" Width="56" Height="17" Text="[DefDialogFont]OK" TabSkip="no" Default="yes">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="10" Y="9" Width="333" Height="32" Text="[DefDialogFont]The current selections require the following amount of disk space on the different volumes. The highlighted volumes do not have enough disk space available for the currently selected features." TabSkip="yes" />
        <Control Id="List" Type="VolumeCostList" X="10" Y="39" Width="334" Height="101" TabSkip="yes" Fixed="yes" Remote="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>