<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="Fatal_Error" X="40" Y="40" Width="240" Height="81" Title="!(loc.IDS_FATALERROR_SHORT)">
        <Control Id="OK" Type="PushButton" X="172" Y="56" Width="56" Height="17" Text="[DefDialogFont]OK" TabSkip="no" Default="yes">
          <Publish Event="DoAction" Value="WiseCleanup">1</Publish>
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="10" Y="9" Width="220" Height="37" Text="[DefDialogFont]!(loc.IDS_FATALERROR)" TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>