<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="fmserver" X="50" Y="50" Width="375" Height="270" Title="!(loc.IDS_DIALOGTITLE)" CustomPalette="yes">
        <Control Id="Edit" Type="Edit" X="40" Y="125" Width="244" Height="18" Property="EXNAME" Text="[DefDialogFont]" TabSkip="no" />
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="[DefDialogFont]&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Property="IISRESTARTBOX">SINK=0</Publish>
          <Publish Property="FMSERVERSHOWN" Value="1">1</Publish>
          <Publish Property="FMSERVER" Value="[EXNAME]">1</Publish>
          <Publish Event="DoAction" Value="check_fmserver">EXCHANGECONNECTOR&lt;&gt;1</Publish>
          <Publish Property="SMARTHOST" Value="[FMSERVER]">EXCHANGECONNECTOR=1 AND FAXSERVER&lt;&gt;1</Publish>
          <Publish Property="SERVEREXIST" Value="1">EXCHANGECONNECTOR=1</Publish>
          <Publish Event="SpawnDialog" Value="noserver">(FMSERVER="") OR (SERVEREXIST=0)</Publish>
          <Publish Event="NewDialog" Value="Single_Feature_Destination">(FMSERVER&lt;&gt;"") AND (SERVEREXIST=1) AND (REMOTEMONITOR=1) AND NOT PREVINSTALLDIR</Publish>
          <Publish Event="NewDialog" Value="Start_Installation_Dialog">(FMSERVER&lt;&gt;"") AND (SERVEREXIST=1) AND (EXCHANGECONNECTOR=1)</Publish>
          <Publish Event="NewDialog" Value="Start_Installation_Dialog">(FMSERVER&lt;&gt;"") AND (SERVEREXIST=1) AND (REMOTEMONITOR=1) AND PREVINSTALLDIR</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="[DefDialogFont]&lt; &amp;Back" TabSkip="no">
          <Publish Property="FMSERVERSHOWN" Value="0">1</Publish>
          <Publish Property="FAXSERVER">FAXSERVER&lt;&gt;1</Publish>
          <Publish Property="REMOTEMONITOR">REMOTEMONITOR&lt;&gt;1</Publish>
          <Publish Property="EXCHANGECONNECTOR">EXCHANGECONNECTOR&lt;&gt;1</Publish>
          <Publish Property="SINK" Value="[EXCHANGECONNECTOR]">1</Publish>
          <Publish Event="NewDialog" Value="components">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="[DefDialogFont]Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="40" Y="109" Width="138" Height="14" Text="[DefDialogFont]IP address:&#xD;&#xA;" TabSkip="yes" />
        <Control Id="CustomText" Type="Text" X="40" Y="75" Width="322" Height="24" Text="[DefDialogFont]Specify the IP address of the machine where the GFI FaxMaker Server is installed." TabSkip="yes" />
        <Control Id="PushButton" Type="PushButton" X="289" Y="125" Width="18" Height="18" Text="[DefDialogFont]..." TabSkip="yes" Hidden="yes" Disabled="yes">
          <Publish Event="DoAction" Value="browse">1</Publish>
          <Publish Property="EXNAME" Value="[EXNAME]">1</Publish>
          <Publish Property="FMSERVER" Value="[EXNAME]">1</Publish>
        </Control>
        <Control Id="Line7" Type="Line" X="80" Y="234" Width="283" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Text18" Type="Text" X="8" Y="8" Width="317" Height="13" Text="[_WiseDialogTitleFontDefault]Specify Server Machine" TabSkip="yes" Transparent="yes" />
        <Control Id="Text19" Type="Text" X="23" Y="23" Width="294" Height="14" Text="[DefDialogFont]Set the IP of the FaxMaker Server." TabSkip="yes" Transparent="yes" />
        <Control Id="Line17" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Bitmap23" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text20" Type="Text" X="2" Y="230" Width="73" Height="12" Text="[DefDialogFont][GFITM]" TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>