<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="noserver" X="50" Y="50" Width="248" Height="90" Title="!(loc.IDS_DIALOGTITLE)" CustomPalette="yes">
        <Control Id="Cancel" Type="PushButton" X="96" Y="60" Width="56" Height="17" Text="[DefDialogFont]OK" TabSkip="no" Cancel="yes">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="19" Y="20" Width="210" Height="35" Text="[DefDialogFont]No GFI FaxMaker Fax Server installation was found on the specified machine name or IP. Please specify another machine." TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>