<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="Single_Feature_Destination" X="50" Y="50" Width="375" Height="270" Title="!(loc.IDS_DIALOGTITLE)" CustomPalette="yes">
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="[DefDialogFont]&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]">1</Publish>
          <Publish Event="NewDialog" Value="Start_Installation_Dialog">1</Publish>
        </Control>
        <Control Id="PushButton44" Type="PushButton" X="278" Y="147" Width="56" Height="17" Text="[DefDialogFont]B&amp;rowse" TabSkip="no">
          <Publish Property="_BrowseProperty" Value="INSTALLDIR">1</Publish>
          <Publish Event="SpawnDialog" Value="Browse">1</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="[DefDialogFont]&lt; &amp;Back" TabSkip="no">
          <Publish Event="NewDialog" Value="userpass">FMSERVERSHOWN=0</Publish>
          <Publish Event="NewDialog" Value="fmserver">(FMSERVER&lt;&gt;"") AND (FAXSERVER&lt;&gt;1) AND (EXCHANGECONNECTOR&lt;&gt;1) AND (REMOTEMONITOR=1)</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="[DefDialogFont]Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Line7" Type="Line" X="80" Y="234" Width="285" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Text18" Type="Text" X="10" Y="8" Width="310" Height="12" Text="[_WiseDialogTitleFontDefault]Destination Folder" TabSkip="yes" Transparent="yes" />
        <Control Id="Text19" Type="Text" X="20" Y="22" Width="305" Height="24" Text="[DefDialogFont]Select a folder where the application will be installed." TabSkip="yes" Transparent="yes" />
        <Control Id="Line17" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Bitmap23" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="GroupBox" Type="GroupBox" X="31" Y="136" Width="309" Height="33" Text="[DefDialogFont]Destination Folder" TabSkip="yes" />
        <Control Id="Text42" Type="Text" X="30" Y="60" Width="312" Height="72" Text="[DefDialogFont]The installation wizard will install the files for GFI FaxMaker in the following folder.&#xD;&#xA;&#xD;&#xA;To install into a different folder, click the Browse button, and select another folder. " TabSkip="yes" />
        <Control Id="Text47" Type="Text" X="2" Y="230" Width="74" Height="12" Text="[DefDialogFont][GFITM]" TabSkip="yes" />
        <Control Id="Text43" Type="Text" X="38" Y="150" Width="228" Height="17" Property="INSTALLDIR" Text="[DefDialogFont][INSTALLDIR]" TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>