<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="userlookup" X="50" Y="50" Width="226" Height="87" Title="!(loc.IDS_DIALOGTITLE)" CustomPalette="yes">
        <Control Id="CustomText" Type="Text" X="14" Y="19" Width="199" Height="31" Text="[DefDialogFont]Setup has detected another GFI product which may conflict with FaxMaker. Please install FaxMaker on another machine." TabSkip="no" />
        <Control Id="PushButton" Type="PushButton" X="85" Y="56" Width="56" Height="17" Text="[DefDialogFont]OK" TabSkip="yes">
          <Publish Event="DoAction" Value="WiseCleanup">1</Publish>
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>