<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="User_Information_Dialog" X="50" Y="50" Width="375" Height="270" Title="!(loc.IDS_DIALOGTITLE)" CustomPalette="yes">
        <Control Id="Edit2525" Type="Edit" X="33" Y="86" Width="212" Height="18" Property="LICENSEKEY" Text="[DefDialogFont]" TabSkip="no" />
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="[DefDialogFont]&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Event="DoAction" Value="check_key">1</Publish>
          <Publish Event="NewDialog" Value="components">KEYOK=1</Publish>
          <Publish Event="SpawnDialog" Value="wrongkey">KEYOK=0</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="[DefDialogFont]&lt; &amp;Back" TabSkip="no">
          <Publish Event="NewDialog" Value="License_Dialog">NOT HKCUSESSIONDATE OR (HKCUSESSIONDATE=HKLMSESSIONDATE)</Publish>
          <Publish Event="NewDialog" Value="Check_Later_Build">HKCUSESSIONDATE</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="[DefDialogFont]Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="PIDQ" Type="Text" X="30" Y="70" Width="78" Height="15" Text="[DefDialogFont]License Key:" TabSkip="no" />
        <Control Id="Text" Type="Text" X="33" Y="114" Width="198" Height="101" Text="[DefDialogFont]NOTE: Click &quot;Tell me more&quot; to request an evaluation key or upgrade your current license.&#xD;&#xA; &#xD;&#xA;You can also continue installing and enter the key when installation is complete." TabSkip="yes" />
        <Control Id="PushButton" Type="PushButton" X="246" Y="114" Width="97" Height="19" Text="[DefDialogFont]Tell me more&#xD;&#xA;" TabSkip="yes">
          <Publish Event="DoAction" Value="open_licpage">1</Publish>
        </Control>
        <Control Id="Text7" Type="Text" X="20" Y="22" Width="290" Height="24" Text="[DefDialogFont]Please enter your license key" TabSkip="yes" Transparent="yes" />
        <Control Id="Bitmap30" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text16" Type="Text" X="10" Y="8" Width="310" Height="12" Text="[_WiseDialogTitleFontDefault]License key&#xD;&#xA;" TabSkip="yes" Transparent="yes" />
        <Control Id="Line15" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Text46" Type="Text" X="2" Y="230" Width="75" Height="12" Text="[DefDialogFont][GFITM]" TabSkip="yes" />
        <Control Id="Line4" Type="Line" X="80" Y="234" Width="285" Height="0" TabSkip="yes" Disabled="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>