<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="userpass" X="50" Y="50" Width="375" Height="270" Title="!(loc.IDS_DIALOGTITLE)" CustomPalette="yes">
        <Control Id="Edit2523" Type="Edit" X="121" Y="147" Width="230" Height="18" Property="PASSWORD" Text="[DefDialogFont]" TabSkip="no" Password="yes" />
        <Control Id="Edit" Type="Edit" X="121" Y="127" Width="230" Height="18" Property="LOGIN" Text="[DefDialogFont]" TabSkip="no" />
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="[DefDialogFont]&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Property="WRONPASSDIALOG" Value="[PASSNOMATCH]">1</Publish>
          <Publish Event="DoAction" Value="CheckCredentials">1</Publish>
          <Publish Event="SpawnDialog" Value="wrongpass">USERISVALID=0</Publish>
          <Publish Event="NewDialog" Value="Single_Feature_Destination">USERISVALID=1 AND NOT PREVINSTALLDIR</Publish>
          <Publish Event="NewDialog" Value="Start_Installation_Dialog">USERISVALID=1 AND PREVINSTALLDIR</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="[DefDialogFont]&lt; &amp;Back" TabSkip="no">
          <Publish Property="FAXSERVER">FAXSERVER&lt;&gt;1</Publish>
          <Publish Property="REMOTEMONITOR">REMOTEMONITOR&lt;&gt;1</Publish>
          <Publish Property="EXCHANGECONNECTOR">EXCHANGECONNECTOR&lt;&gt;1</Publish>
          <Publish Event="NewDialog" Value="components">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="[DefDialogFont]Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="20" Y="67" Width="333" Height="42" Text="[DefDialogFont]The GFI FaxMaker services must run under an account with domain administrator rights. Please enter an existing domain administrator account and password in the format 'DOMAIN\ACCOUNT' or 'HOSTNAME\ACCOUNT' for non-domain environments." TabSkip="yes" />
        <Control Id="Line7" Type="Line" X="80" Y="234" Width="285" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Text18" Type="Text" X="8" Y="8" Width="315" Height="13" Text="[_WiseDialogTitleFontDefault]Administrator account information" TabSkip="yes" Transparent="yes" />
        <Control Id="Text19" Type="Text" X="23" Y="23" Width="300" Height="14" Text="[DefDialogFont]Please enter requested data" TabSkip="yes" Transparent="yes" />
        <Control Id="Line17" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Bitmap23" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text20" Type="Text" X="2" Y="230" Width="74" Height="12" Text="[DefDialogFont][GFITM]" TabSkip="yes" />
        <Control Id="Text2521" Type="Text" X="21" Y="150" Width="82" Height="13" Text="[DefDialogFont]Password:&#xD;&#xA;" TabSkip="yes" />
        <Control Id="Text2520" Type="Text" X="21" Y="130" Width="88" Height="15" Text="[DefDialogFont]Account:&#xD;&#xA;" TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>