<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="ErrorText">
      <Error Id="0">!(loc.IDS_ERROR_0)</Error>
      <Error Id="1">!(loc.IDS_ERROR_1)</Error>
      <Error Id="2">!(loc.IDS_ERROR_2)</Error>
      <Error Id="4">!(loc.IDS_ERROR_4)</Error>
      <Error Id="5">!(loc.IDS_ERROR_5)</Error>
      <Error Id="7">!(loc.IDS_ERROR_7)</Error>
      <Error Id="8">!(loc.IDS_ERROR_8)</Error>
      <Error Id="9">!(loc.IDS_ERROR_9)</Error>
      <Error Id="10">!(loc.IDS_ERROR_10)</Error>
      <Error Id="11">!(loc.IDS_ERROR_11)</Error>
      <Error Id="12">!(loc.IDS_ERROR_12)</Error>
      <Error Id="13">!(loc.IDS_ERROR_13)</Error>
      <Error Id="14">!(loc.IDS_ERROR_14)</Error>
      <Error Id="15">!(loc.IDS_ERROR_15)</Error>
      <Error Id="16">!(loc.IDS_ERROR_16)</Error>
      <Error Id="17">!(loc.IDS_ERROR_17)</Error>
      <Error Id="18">!(loc.IDS_ERROR_18)</Error>
      <Error Id="19">!(loc.IDS_ERROR_19)</Error>
      <Error Id="20">!(loc.IDS_ERROR_20)</Error>
      <Error Id="21">!(loc.IDS_ERROR_21)</Error>
      <Error Id="22">!(loc.IDS_ERROR_22)</Error>
      <Error Id="23">!(loc.IDS_ERROR_23)</Error>
      <Error Id="32">!(loc.IDS_ERROR_32)</Error>
      <Error Id="33">!(loc.IDS_ERROR_33)</Error>
      <Error Id="1101">!(loc.IDS_ERROR_1101)</Error>
      <Error Id="1301">!(loc.IDS_ERROR_1301)</Error>
      <Error Id="1302">!(loc.IDS_ERROR_1302)</Error>
      <Error Id="1303">!(loc.IDS_ERROR_1303)</Error>
      <Error Id="1304">!(loc.IDS_ERROR_1304)</Error>
      <Error Id="1305">!(loc.IDS_ERROR_1305)</Error>
      <Error Id="1306">!(loc.IDS_ERROR_1306)</Error>
      <Error Id="1307">!(loc.IDS_ERROR_1307)</Error>
      <Error Id="1308">!(loc.IDS_ERROR_1308)</Error>
      <Error Id="1309">!(loc.IDS_ERROR_1309)</Error>
      <Error Id="1310">!(loc.IDS_ERROR_1310)</Error>
      <Error Id="1311">!(loc.IDS_ERROR_1311)</Error>
      <Error Id="1312">!(loc.IDS_ERROR_1312)</Error>
      <Error Id="1313">!(loc.IDS_ERROR_1313)</Error>
      <Error Id="1314">!(loc.IDS_ERROR_1314)</Error>
      <Error Id="1315">!(loc.IDS_ERROR_1315)</Error>
      <Error Id="1316">!(loc.IDS_ERROR_1316)</Error>
      <Error Id="1317">!(loc.IDS_ERROR_1317)</Error>
      <Error Id="1318">!(loc.IDS_ERROR_1318)</Error>
      <Error Id="1319">!(loc.IDS_ERROR_1319)</Error>
      <Error Id="1320">!(loc.IDS_ERROR_1320)</Error>
      <Error Id="1321">!(loc.IDS_ERROR_1321)</Error>
      <Error Id="1322">!(loc.IDS_ERROR_1322)</Error>
      <Error Id="1323">!(loc.IDS_ERROR_1323)</Error>
      <Error Id="1324">!(loc.IDS_ERROR_1324)</Error>
      <Error Id="1325">!(loc.IDS_ERROR_1325)</Error>
      <Error Id="1326">!(loc.IDS_ERROR_1326)</Error>
      <Error Id="1327">!(loc.IDS_ERROR_1327)</Error>
      <Error Id="1328">!(loc.IDS_ERROR_1328)</Error>
      <Error Id="1401">!(loc.IDS_ERROR_1401)</Error>
      <Error Id="1402">!(loc.IDS_ERROR_1402)</Error>
      <Error Id="1403">!(loc.IDS_ERROR_1403)</Error>
      <Error Id="1404">!(loc.IDS_ERROR_1404)</Error>
      <Error Id="1405">!(loc.IDS_ERROR_1405)</Error>
      <Error Id="1406">!(loc.IDS_ERROR_1406)</Error>
      <Error Id="1407">!(loc.IDS_ERROR_1407)</Error>
      <Error Id="1408">!(loc.IDS_ERROR_1408)</Error>
      <Error Id="1409">!(loc.IDS_ERROR_1409)</Error>
      <Error Id="1410">!(loc.IDS_ERROR_1410)</Error>
      <Error Id="1500">!(loc.IDS_ERROR_1500)</Error>
      <Error Id="1501">!(loc.IDS_ERROR_1501)</Error>
      <Error Id="1502">!(loc.IDS_ERROR_1502)</Error>
      <Error Id="1503">!(loc.IDS_ERROR_1503)</Error>
      <Error Id="1601">!(loc.IDS_ERROR_1601)</Error>
      <Error Id="1602">!(loc.IDS_ERROR_1602)</Error>
      <Error Id="1603">!(loc.IDS_ERROR_1603)</Error>
      <Error Id="1604">!(loc.IDS_ERROR_1604)</Error>
      <Error Id="1605">!(loc.IDS_ERROR_1605)</Error>
      <Error Id="1606">!(loc.IDS_ERROR_1606)</Error>
      <Error Id="1607">!(loc.IDS_ERROR_1607)</Error>
      <Error Id="1608">!(loc.IDS_ERROR_1608)</Error>
      <Error Id="1701">!(loc.IDS_ERROR_1701)</Error>
      <Error Id="1702">!(loc.IDS_ERROR_1702)</Error>
      <Error Id="1703">!(loc.IDS_ERROR_1703)</Error>
      <Error Id="1704">!(loc.IDS_ERROR_1704)</Error>
      <Error Id="1705">!(loc.IDS_ERROR_1705)</Error>
      <Error Id="1706">!(loc.IDS_ERROR_1706)</Error>
      <Error Id="1707">!(loc.IDS_ERROR_1707)</Error>
      <Error Id="1708">!(loc.IDS_ERROR_1708)</Error>
      <Error Id="1709">!(loc.IDS_ERROR_1709)</Error>
      <Error Id="1710">!(loc.IDS_ERROR_1710)</Error>
      <Error Id="1711">!(loc.IDS_ERROR_1711)</Error>
      <Error Id="1712">!(loc.IDS_ERROR_1712)</Error>
      <Error Id="1713">!(loc.IDS_ERROR_1713)</Error>
      <Error Id="1714">!(loc.IDS_ERROR_1714)</Error>
      <Error Id="1801">!(loc.IDS_ERROR_1801)</Error>
      <Error Id="1802">!(loc.IDS_ERROR_1802)</Error>
      <Error Id="1803">!(loc.IDS_ERROR_1803)</Error>
      <Error Id="1804">!(loc.IDS_ERROR_1804)</Error>
      <Error Id="1805">!(loc.IDS_ERROR_1805)</Error>
      <Error Id="1806">!(loc.IDS_ERROR_1806)</Error>
      <Error Id="1807">!(loc.IDS_ERROR_1807)</Error>
      <Error Id="1901">!(loc.IDS_ERROR_1901)</Error>
      <Error Id="1902">!(loc.IDS_ERROR_1902)</Error>
      <Error Id="1903">!(loc.IDS_ERROR_1903)</Error>
      <Error Id="1904">!(loc.IDS_ERROR_1904)</Error>
      <Error Id="1905">!(loc.IDS_ERROR_1905)</Error>
      <Error Id="1906">!(loc.IDS_ERROR_1906)</Error>
      <Error Id="1907">!(loc.IDS_ERROR_1907)</Error>
      <Error Id="1908">!(loc.IDS_ERROR_1908)</Error>
      <Error Id="1909">!(loc.IDS_ERROR_1909)</Error>
      <Error Id="1910">!(loc.IDS_ERROR_1910)</Error>
      <Error Id="1911">!(loc.IDS_ERROR_1911)</Error>
      <Error Id="1912">!(loc.IDS_ERROR_1912)</Error>
      <Error Id="1913">!(loc.IDS_ERROR_1913)</Error>
      <Error Id="1914">!(loc.IDS_ERROR_1914)</Error>
      <Error Id="1915">!(loc.IDS_ERROR_1915)</Error>
      <Error Id="1916">!(loc.IDS_ERROR_1916)</Error>
      <Error Id="1917">!(loc.IDS_ERROR_1917)</Error>
      <Error Id="1918">!(loc.IDS_ERROR_1918)</Error>
      <Error Id="1919">!(loc.IDS_ERROR_1919)</Error>
      <Error Id="1920">!(loc.IDS_ERROR_1920)</Error>
      <Error Id="1921">!(loc.IDS_ERROR_1921)</Error>
      <Error Id="1922">!(loc.IDS_ERROR_1922)</Error>
      <Error Id="1923">!(loc.IDS_ERROR_1923)</Error>
      <Error Id="1924">!(loc.IDS_ERROR_1924)</Error>
      <Error Id="1925">!(loc.IDS_ERROR_1925)</Error>
      <Error Id="1926">!(loc.IDS_ERROR_1926)</Error>
      <Error Id="1927">!(loc.IDS_ERROR_1927)</Error>
      <Error Id="1928">!(loc.IDS_ERROR_1928)</Error>
      <Error Id="1929">!(loc.IDS_ERROR_1929)</Error>
      <Error Id="1930">!(loc.IDS_ERROR_1930)</Error>
      <Error Id="1931">!(loc.IDS_ERROR_1931)</Error>
      <Error Id="1932">!(loc.IDS_ERROR_1932)</Error>
      <Error Id="1933">!(loc.IDS_ERROR_1933)</Error>
      <Error Id="1934">!(loc.IDS_ERROR_1934)</Error>
      <Error Id="2331">!(loc.IDS_ERROR_2331)</Error>
      <Error Id="27500">!(loc.IDS_ERROR_27500)</Error>
      <Error Id="27501">!(loc.IDS_ERROR_27501)</Error>
      <Error Id="27502">!(loc.IDS_ERROR_27502)</Error>
      <Error Id="27503">!(loc.IDS_ERROR_27503)</Error>
      <Error Id="27504">!(loc.IDS_ERROR_27504)</Error>
      <Error Id="27505">!(loc.IDS_ERROR_27505)</Error>
      <Error Id="27506">!(loc.IDS_ERROR_27506)</Error>
      <Error Id="27507">!(loc.IDS_ERROR_27507)</Error>
      <Error Id="27508">!(loc.IDS_ERROR_27508)</Error>
      <Error Id="27509">!(loc.IDS_ERROR_27509)</Error>
      <Error Id="27510">!(loc.IDS_ERROR_27510)</Error>
      <Error Id="27511">!(loc.IDS_ERROR_27511)</Error>
      <Error Id="27512">!(loc.IDS_ERROR_27512)</Error>
      <Error Id="27513">!(loc.IDS_ERROR_27513)</Error>
      <Error Id="27514">!(loc.IDS_ERROR_27514)</Error>
      <Error Id="27515">!(loc.IDS_ERROR_27515)</Error>
      <Error Id="27516">!(loc.IDS_ERROR_27516)</Error>
      <Error Id="27517">!(loc.IDS_ERROR_27517)</Error>
      <Error Id="27518">!(loc.IDS_ERROR_27518)</Error>
      <Error Id="27519">!(loc.IDS_ERROR_27519)</Error>
      <Error Id="27520">!(loc.IDS_ERROR_27520)</Error>
      <Error Id="27521">!(loc.IDS_ERROR_27521)</Error>
      <Error Id="27522">!(loc.IDS_ERROR_27522)</Error>
      <Error Id="27523">!(loc.IDS_ERROR_27523)</Error>
      <Error Id="27524">!(loc.IDS_ERROR_27524)</Error>
      <Error Id="27525">!(loc.IDS_ERROR_27525)</Error>
      <Error Id="27526">!(loc.IDS_ERROR_27526)</Error>
      <Error Id="27527">!(loc.IDS_ERROR_27527)</Error>
      <Error Id="27528">!(loc.IDS_ERROR_27528)</Error>
      <Error Id="27529">!(loc.IDS_ERROR_27529)</Error>
      <Error Id="27530">!(loc.IDS_ERROR_27530)</Error>
      <Error Id="27531">!(loc.IDS_ERROR_27531)</Error>
      <Error Id="27532">!(loc.IDS_ERROR_27532)</Error>
      <Error Id="27533">!(loc.IDS_ERROR_27533)</Error>
      <Error Id="27534">!(loc.IDS_ERROR_27534)</Error>
      <Error Id="27535">!(loc.IDS_ERROR_27535)</Error>
      <Error Id="27536">!(loc.IDS_ERROR_27536)</Error>
      <Error Id="27537">!(loc.IDS_ERROR_27537)</Error>
      <Error Id="27538">!(loc.IDS_ERROR_27538)</Error>
      <Error Id="27539">!(loc.IDS_ERROR_27539)</Error>
      <Error Id="27540">!(loc.IDS_ERROR_27540)</Error>
      <Error Id="27541">!(loc.IDS_ERROR_27541)</Error>
      <Error Id="27542">!(loc.IDS_ERROR_27542)</Error>
      <Error Id="27543">!(loc.IDS_ERROR_27543)</Error>
      <Error Id="27544">!(loc.IDS_ERROR_27544)</Error>
      <Error Id="27545">!(loc.IDS_ERROR_27545)</Error>
      <Error Id="27546">!(loc.IDS_ERROR_27546)</Error>
      <Error Id="27547">!(loc.IDS_ERROR_27547)</Error>
      <Error Id="27548">!(loc.IDS_ERROR_27548)</Error>
      <Error Id="27549">!(loc.IDS_ERROR_27549)</Error>
      <Error Id="27550">!(loc.IDS_ERROR_27550)</Error>
      <Error Id="27551">!(loc.IDS_ERROR_27551)</Error>
      <Error Id="27552">!(loc.IDS_ERROR_27552)</Error>
      <Error Id="27553">!(loc.IDS_ERROR_27553)</Error>
      <Error Id="27554">!(loc.IDS_ERROR_27554)</Error>
    </UI>
  </Fragment>
</Wix>
