<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="ProgressText">
      <ProgressText Action="AppSearch" Template="!(loc.IDS_PROGRESS_TMPLT_APPSEARCH)">!(loc.IDS_PROGRESS_APPSEARCH)</ProgressText>
      <ProgressText Action="BindImage" Template="!(loc.IDS_PROGRESS_TMPLT_BINDIMAGE)">!(loc.IDS_PROGRESS_BINDIMAGE)</ProgressText>
      <ProgressText Action="CCPSearch">!(loc.IDS_PROGRESS_CCPSEARCH)</ProgressText>
      <ProgressText Action="InstallValidate">!(loc.IDS_PROGRESS_INSTALLVALIDATE)</ProgressText>
      <ProgressText Action="InstallFiles" Template="!(loc.IDS_PROGRESS_TMPLT_INSTALLFILES)">!(loc.IDS_PROGRESS_INSTALLFILES)</ProgressText>
      <ProgressText Action="InstallAdminPackage" Template="!(loc.IDS_PROGRESS_TMPLT_INSTALLADMINPACKAGE)">!(loc.IDS_PROGRESS_INSTALLADMINPACKAGE)</ProgressText>
      <ProgressText Action="FileCost">!(loc.IDS_PROGRESS_FILECOST)</ProgressText>
      <ProgressText Action="CostInitialize">!(loc.IDS_PROGRESS_COSTINITIALIZE)</ProgressText>
      <ProgressText Action="CostFinalize">!(loc.IDS_PROGRESS_COSTFINALIZE)</ProgressText>
      <ProgressText Action="RegisterTypeLibraries" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTERTYPELIBRARIES)">!(loc.IDS_PROGRESS_REGISTERTYPELIBRARIES)</ProgressText>
      <ProgressText Action="RegisterProgIdInfo" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTERPROGIDINFO)">!(loc.IDS_PROGRESS_REGISTERPROGIDINFO)</ProgressText>
      <ProgressText Action="RegisterMIMEInfo" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTERMIMEINFO)">!(loc.IDS_PROGRESS_REGISTERMIMEINFO)</ProgressText>
      <ProgressText Action="RegisterExtensionInfo" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTEREXTENSIONINFO)">!(loc.IDS_PROGRESS_REGISTEREXTENSIONINFO)</ProgressText>
      <ProgressText Action="RegisterClassInfo" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTERCLASSINFO)">!(loc.IDS_PROGRESS_REGISTERCLASSINFO)</ProgressText>
      <ProgressText Action="PublishProduct">!(loc.IDS_PROGRESS_PUBLISHPRODUCT)</ProgressText>
      <ProgressText Action="PublishFeatures" Template="!(loc.IDS_PROGRESS_TMPLT_PUBLISHFEATURES)">!(loc.IDS_PROGRESS_PUBLISHFEATURES)</ProgressText>
      <ProgressText Action="PublishComponents" Template="!(loc.IDS_PROGRESS_TMPLT_PUBLISHCOMPONENTS)">!(loc.IDS_PROGRESS_PUBLISHCOMPONENTS)</ProgressText>
      <ProgressText Action="CreateShortcuts" Template="!(loc.IDS_PROGRESS_TMPLT_CREATESHORTCUTS)">!(loc.IDS_PROGRESS_CREATESHORTCUTS)</ProgressText>
      <ProgressText Action="RemoveDuplicateFiles" Template="!(loc.IDS_PROGRESS_TMPLT_REMOVEDUPLICATEFILES)">!(loc.IDS_PROGRESS_REMOVEDUPLICATEFILES)</ProgressText>
      <ProgressText Action="RegisterUser" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTERUSER)">!(loc.IDS_PROGRESS_REGISTERUSER)</ProgressText>
      <ProgressText Action="RegisterProduct" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTERPRODUCT)">!(loc.IDS_PROGRESS_REGISTERPRODUCT)</ProgressText>
      <ProgressText Action="RegisterFonts" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTERFONTS)">!(loc.IDS_PROGRESS_REGISTERFONTS)</ProgressText>
      <ProgressText Action="RegisterComPlus" Template="!(loc.IDS_PROGRESS_TMPLT_REGISTERCOMPLUS)">!(loc.IDS_PROGRESS_REGISTERCOMPLUS)</ProgressText>
      <ProgressText Action="ProcessComponents">!(loc.IDS_PROGRESS_PROCESSCOMPONENTS)</ProgressText>
      <ProgressText Action="PatchFiles" Template="!(loc.IDS_PROGRESS_TMPLT_PATCHFILES)">!(loc.IDS_PROGRESS_PATCHFILES)</ProgressText>
      <ProgressText Action="MoveFiles" Template="!(loc.IDS_PROGRESS_TMPLT_MOVEFILES)">!(loc.IDS_PROGRESS_MOVEFILES)</ProgressText>
      <ProgressText Action="MigrateFeatureStates" Template="!(loc.IDS_PROGRESS_TMPLT_MIGRATEFEATURESTATES)">!(loc.IDS_PROGRESS_MIGRATEFEATURESTATES)</ProgressText>
      <ProgressText Action="LaunchConditions">!(loc.IDS_PROGRESS_LAUNCHCONDITIONS)</ProgressText>
      <ProgressText Action="InstallServices" Template="!(loc.IDS_PROGRESS_TMPLT_INSTALLSERVICES)">!(loc.IDS_PROGRESS_INSTALLSERVICES)</ProgressText>
      <ProgressText Action="InstallODBC">!(loc.IDS_PROGRESS_INSTALLODBC)</ProgressText>
      <ProgressText Action="FindRelatedProducts" Template="!(loc.IDS_PROGRESS_TMPLT_FINDRELATEDPRODUCTS)">!(loc.IDS_PROGRESS_FINDRELATEDPRODUCTS)</ProgressText>
      <ProgressText Action="DuplicateFiles" Template="!(loc.IDS_PROGRESS_TMPLT_DUPLICATEFILES)">!(loc.IDS_PROGRESS_DUPLICATEFILES)</ProgressText>
      <ProgressText Action="DeleteServices" Template="!(loc.IDS_PROGRESS_TMPLT_DELETESERVICES)">!(loc.IDS_PROGRESS_DELETESERVICES)</ProgressText>
      <ProgressText Action="CreateFolders" Template="!(loc.IDS_PROGRESS_TMPLT_CREATEFOLDERS)">!(loc.IDS_PROGRESS_CREATEFOLDERS)</ProgressText>
      <ProgressText Action="AllocateRegistrySpace" Template="!(loc.IDS_PROGRESS_TMPLT_ALLOCATEREGISTRYSPACE)">!(loc.IDS_PROGRESS_ALLOCATEREGISTRYSPACE)</ProgressText>
      <ProgressText Action="RemoveEnvironmentStrings" Template="!(loc.IDS_PROGRESS_TMPLT_REMOVEENVIRONMENTSTRINGS)">!(loc.IDS_PROGRESS_REMOVEENVIRONMENTSTRINGS)</ProgressText>
      <ProgressText Action="RemoveExistingProducts" Template="!(loc.IDS_PROGRESS_TMPLT_REMOVEEXISTINGPRODUCTS)">!(loc.IDS_PROGRESS_REMOVEEXISTINGPRODUCTS)</ProgressText>
      <ProgressText Action="RemoveFiles" Template="!(loc.IDS_PROGRESS_TMPLT_REMOVEFILES)">!(loc.IDS_PROGRESS_REMOVEFILES)</ProgressText>
      <ProgressText Action="RemoveFolders" Template="!(loc.IDS_PROGRESS_TMPLT_REMOVEFOLDERS)">!(loc.IDS_PROGRESS_REMOVEFOLDERS)</ProgressText>
      <ProgressText Action="RemoveIniValues" Template="!(loc.IDS_PROGRESS_TMPLT_REMOVEINIVALUES)">!(loc.IDS_PROGRESS_REMOVEINIVALUES)</ProgressText>
      <ProgressText Action="RemoveODBC">!(loc.IDS_PROGRESS_REMOVEODBC)</ProgressText>
      <ProgressText Action="RemoveRegistryValues" Template="!(loc.IDS_PROGRESS_TMPLT_REMOVEREGISTRYVALUES)">!(loc.IDS_PROGRESS_REMOVEREGISTRYVALUES)</ProgressText>
      <ProgressText Action="RemoveShortcuts" Template="!(loc.IDS_PROGRESS_TMPLT_REMOVESHORTCUTS)">!(loc.IDS_PROGRESS_REMOVESHORTCUTS)</ProgressText>
      <ProgressText Action="RMCCPSearch">!(loc.IDS_PROGRESS_RMCCPSEARCH)</ProgressText>
      <ProgressText Action="SelfRegModules" Template="!(loc.IDS_PROGRESS_TMPLT_SELFREGMODULES)">!(loc.IDS_PROGRESS_SELFREGMODULES)</ProgressText>
      <ProgressText Action="SelfUnregModules" Template="!(loc.IDS_PROGRESS_TMPLT_SELFUNREGMODULES)">!(loc.IDS_PROGRESS_SELFUNREGMODULES)</ProgressText>
      <ProgressText Action="SetODBCFolders">!(loc.IDS_PROGRESS_SETODBCFOLDERS)</ProgressText>
      <ProgressText Action="StartServices" Template="!(loc.IDS_PROGRESS_TMPLT_STARTSERVICES)">!(loc.IDS_PROGRESS_STARTSERVICES)</ProgressText>
      <ProgressText Action="StopServices" Template="!(loc.IDS_PROGRESS_TMPLT_STOPSERVICES)">!(loc.IDS_PROGRESS_STOPSERVICES)</ProgressText>
      <ProgressText Action="UnpublishComponents" Template="!(loc.IDS_PROGRESS_TMPLT_UNPUBLISHCOMPONENTS)">!(loc.IDS_PROGRESS_UNPUBLISHCOMPONENTS)</ProgressText>
      <ProgressText Action="UnpublishFeatures" Template="!(loc.IDS_PROGRESS_TMPLT_UNPUBLISHFEATURES)">!(loc.IDS_PROGRESS_UNPUBLISHFEATURES)</ProgressText>
      <ProgressText Action="UnregisterClassInfo" Template="!(loc.IDS_PROGRESS_TMPLT_UNREGISTERCLASSINFO)">!(loc.IDS_PROGRESS_UNREGISTERCLASSINFO)</ProgressText>
      <ProgressText Action="UnregisterComPlus" Template="!(loc.IDS_PROGRESS_TMPLT_UNREGISTERCOMPLUS)">!(loc.IDS_PROGRESS_UNREGISTERCOMPLUS)</ProgressText>
      <ProgressText Action="UnregisterExtensionInfo" Template="!(loc.IDS_PROGRESS_TMPLT_UNREGISTEREXTENSIONINFO)">!(loc.IDS_PROGRESS_UNREGISTEREXTENSIONINFO)</ProgressText>
      <ProgressText Action="UnregisterFonts" Template="!(loc.IDS_PROGRESS_TMPLT_UNREGISTERFONTS)">!(loc.IDS_PROGRESS_UNREGISTERFONTS)</ProgressText>
      <ProgressText Action="UnregisterMIMEInfo" Template="!(loc.IDS_PROGRESS_TMPLT_UNREGISTERMIMEINFO)">!(loc.IDS_PROGRESS_UNREGISTERMIMEINFO)</ProgressText>
      <ProgressText Action="UnregisterProgIdInfo" Template="!(loc.IDS_PROGRESS_TMPLT_UNREGISTERPROGIDINFO)">!(loc.IDS_PROGRESS_UNREGISTERPROGIDINFO)</ProgressText>
      <ProgressText Action="UnregisterTypeLibraries" Template="!(loc.IDS_PROGRESS_TMPLT_UNREGISTERTYPELIBRARIES)">!(loc.IDS_PROGRESS_UNREGISTERTYPELIBRARIES)</ProgressText>
      <ProgressText Action="WriteEnvironmentStrings" Template="!(loc.IDS_PROGRESS_TMPLT_WRITEENVIRONMENTSTRINGS)">!(loc.IDS_PROGRESS_WRITEENVIRONMENTSTRINGS)</ProgressText>
      <ProgressText Action="WriteIniValues" Template="!(loc.IDS_PROGRESS_TMPLT_WRITEINIVALUES)">!(loc.IDS_PROGRESS_WRITEINIVALUES)</ProgressText>
      <ProgressText Action="WriteRegistryValues" Template="!(loc.IDS_PROGRESS_TMPLT_WRITEREGISTRYVALUES)">!(loc.IDS_PROGRESS_WRITEREGISTRYVALUES)</ProgressText>
      <ProgressText Action="InstallSFPCatalogFile" Template="!(loc.IDS_PROGRESS_TMPLT_INSTALLSFPCATALOGFILE)">!(loc.IDS_PROGRESS_INSTALLSFPCATALOGFILE)</ProgressText>
      <ProgressText Action="GenerateScript" Template="!(loc.IDS_PROGRESS_TMPLT_GENERATESCRIPT)">!(loc.IDS_PROGRESS_GENERATESCRIPT)</ProgressText>
      <ProgressText Action="caRemoveVRoots">!(loc.IDS_PROGRESS_CAREMOVEVROOTS)</ProgressText>
      <ProgressText Action="caCreateVRoots">!(loc.IDS_PROGRESS_CACREATEVROOTS)</ProgressText>
      <ProgressText Action="Advertise">!(loc.IDS_PROGRESS_ADVERTISE)</ProgressText>
      <ProgressText Action="Rollback" Template="!(loc.IDS_PROGRESS_TMPLT_ROLLBACK)">!(loc.IDS_PROGRESS_ROLLBACK)</ProgressText>
      <ProgressText Action="RollbackCleanup" Template="!(loc.IDS_PROGRESS_TMPLT_ROLLBACKCLEANUP)">!(loc.IDS_PROGRESS_ROLLBACKCLEANUP)</ProgressText>
      <ProgressText Action="UnmoveFiles" Template="!(loc.IDS_PROGRESS_TMPLT_UNMOVEFILES)">!(loc.IDS_PROGRESS_UNMOVEFILES)</ProgressText>
      <ProgressText Action="UnpublishProduct">!(loc.IDS_PROGRESS_UNPUBLISHPRODUCT)</ProgressText>
      <ProgressText Action="InstallInitialize">!(loc.IDS_PROGRESS_INSTALLINITIALIZE)</ProgressText>

      <ProgressText Action="GETAD">!(loc.IDS_PROGRESS_CHECKAD)</ProgressText>
      <ProgressText Action="CheckExchange">!(loc.IDS_PROGRESS_CHECKEXCHANGE)</ProgressText>
      <ProgressText Action="check_IISSMTP">!(loc.IDS_PROGRESS_CHECKIIS)</ProgressText>
      <ProgressText Action="CA_InstallForeignConnector">!(loc.IDS_PROGRESS_CREATEFC)</ProgressText>
      <ProgressText Action="CA_RemoveForeignConnector">!(loc.IDS_PROGRESS_REMOVEFC)</ProgressText>
      <ProgressText Action="CA_RemoveRecvConnector_ED">!(loc.IDS_PROGRESS_REMOVERC)</ProgressText>
      <ProgressText Action="CA_InstallRecvConnector_ED">!(loc.IDS_PROGRESS_CREATERC)</ProgressText>
      <ProgressText Action="CA_RemoveSendConnector">!(loc.IDS_PROGRESS_REMOVESC)</ProgressText>
      <ProgressText Action="CA_InstallSendConnector">!(loc.IDS_PROGRESS_CREATESC)</ProgressText>
      <ProgressText Action="UpgradeUsrDBforWSAPI">!(loc.IDS_PROGRESS_UPGUSERDBWSAPI)</ProgressText>
      <ProgressText Action="UpgradeFST">!(loc.IDS_PROGRESS_UPGCONFIGDB)</ProgressText>
      <ProgressText Action="UpgradeUserDB">!(loc.IDS_PROGRESS_UPGUSERDB)</ProgressText>
      <ProgressText Action="InstallMSMQ.2K8">!(loc.IDS_PROGRESS_INSTALLMSMQ)</ProgressText>
      <ProgressText Action="InstallMSMQ">!(loc.IDS_PROGRESS_INSTALLMSMQ)</ProgressText>
      <ProgressText Action="InstallMSMQ2K12">!(loc.IDS_PROGRESS_INSTALLMSMQ)</ProgressText>
    </UI>
  </Fragment>
</Wix>
