<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CommonFiles_userlookup" Directory="userlookup">
      <Component Id="DuplicateFile" Guid="{87B2BDC8-BBDF-454F-B164-F840EC8CC851}" KeyPath="yes">
        <Condition>(AD = 0) AND ((FAXSERVER=1) OR (REMOTEMONITOR=1))</Condition>
        <CopyFile Id="msvcp60.dll" FileId="msvcp60.dll" DestinationDirectory="userlookup" />
      </Component>
      <Component Id="gfiudb.dll" Guid="{C111E401-4BA0-40D0-8311-F741A939A116}" SharedDllRefCount="yes">
        <Condition>(FAXSERVER=1)</Condition>
        <File Id="gfiudb.dll" Name="gfiudb.dll" KeyPath="yes" Vital="no" SelfRegCost="0" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\gfiudb.dll" />
      </Component>
      <Component Id="gfiudbps.dll" Guid="{572A10F9-BE1B-4147-B350-F753FD42AA31}" SharedDllRefCount="yes">
        <Condition>(FAXSERVER=1)</Condition>
        <File Id="gfiudbps.dll" Name="gfiudbps.dll" KeyPath="yes" Vital="no" SelfRegCost="0" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\gfiudbps.dll" />
        <!--          <RegistryValue Id="registry297" Root="HKCR" Key="CLSID\{AB796E0E-AACB-44B4-A1B9-262AE035E148}\InProcServer32" Name="ThreadingModel" Value="Both" Type="string" /> -->
      </Component>
      <Component Id="me6udb.dll" Guid="{90EA568C-FE33-4938-85B7-5887308CDFF0}" SharedDllRefCount="yes">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="me6udb.dll" Name="me6udb.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\me6udb.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CommonFiles_common" Directory="common">
      <Component Id="usrlkado.dll" Guid="{A06719BD-97CF-4068-A300-AC3829DD4999}" SharedDllRefCount="yes">
        <Condition>(FAXSERVER=1)</Condition>
        <File Id="usrlkado.dll" Name="usrlkado.dll" KeyPath="yes" Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\usrlkado.dll" />
      </Component>
      <Component Id="msvcp60.dll" Guid="{0DBE54CB-7FD9-41BB-B477-701DE7063F99}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="msvcp60.dll" Name="msvcp60.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\msvcp60.dll" />
      </Component>
      <Component Id="dle.dll" Guid="{851CE535-7DC2-4101-BFD4-A86E1DF251AF}" SharedDllRefCount="yes">
        <Condition>FAXSERVER=1</Condition>
        <File Id="dle.dll" Name="dle.dll" KeyPath="yes" Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\dle.dll" />
      </Component>
      <Component Id="tnefunpack.dll" Guid="{B4EE6CE9-EAE7-4734-8CD2-F05D2C04D1DF}" SharedDllRefCount="yes">
        <Condition>FAXSERVER=1</Condition>
        <File Id="tnefunpack.dll" Name="tnefunpack.dll" KeyPath="yes"  Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\tnefunpack.dll" />
      </Component>
      <Component Id="pfi.dll" Guid="{1E88ED4D-F151-46F7-A76D-C0CDEC5C3086}" SharedDllRefCount="yes">
        <Condition>FAXSERVER=1</Condition>
        <File Id="pfi.dll" Name="pfi.dll" KeyPath="yes" Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\pfi.dll" />
      </Component>
      <Component Id="pfi_x64.dll" Guid="{1477B5E3-03DA-4fff-B827-0FE7FFC0C628}" SharedDllRefCount="yes">
        <Condition>FAXSERVER=1</Condition>
        <File Id="pfi_x64.dll" Name="pfi_x64.dll" KeyPath="yes" Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\pfi_x64.dll" />
      </Component>
      <Component Id="strmobj.dll" Guid="{C7976D0E-1FBE-459E-ABE9-38FD891CD231}" SharedDllRefCount="yes">
        <Condition>FAXSERVER=1</Condition>
        <File Id="strmobj.dll" Name="strmobj.dll" KeyPath="yes" Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\strmobj.dll" />
      </Component>
      <Component Id="gfiadcache.dll" Guid="{773CB255-30A4-40DC-B70F-68F51469C5B2}" SharedDllRefCount="yes">
        <Condition>(FAXSERVER=1)</Condition>
        <File Id="gfiadcache.dll" Name="gfiadcache.dll" KeyPath="yes"  Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\gfiadcache.dll" />
      </Component>
      <Component Id="regrdb.dll" Guid="{8D69FC02-EF69-49F3-AF6C-5B18B3AC2647}">
        <Condition>FAXSERVER=1</Condition>
        <File Id="regrdb.dll" Name="regrdb.dll" KeyPath="yes" Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\regrdb.dll" />
      </Component>
      <Component Id="gfimdb2.dll" Guid="{F691D45C-DB84-4CF9-86E6-7B7A9823D8EB}">
        <Condition>(FAXSERVER=1)</Condition>
        <File Id="gfimdb2.dll" Name="gfimdb2.dll" KeyPath="yes" Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\gfimdb2.dll" />
      </Component>
      <Component Id="MiddleMan.dll" Guid="{53B413D9-AF73-469C-B312-DD4992A57375}">
        <Condition>(FAXSERVER=1)</Condition>
        <File Id="MiddleMan.dll" Name="MiddleMan.dll" KeyPath="yes"  Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\MiddleMan.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>