<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <CustomAction Id="Action20" BinaryKey="WiseScriptDll" DllEntry="Pause" />
    <CustomAction Id="CA_OverrideSMTP" Property="IISSMTP" Value="[OVIIS]" Execute="firstSequence" />
    <CustomAction Id="CA_OverrideAD" Property="AD" Value="[OVAD]" Execute="firstSequence" />
    <CustomAction Id="CA_OverrideEXCHANGE2Zero" Property="EXCHANGE" Value="0"/>
    <CustomAction Id="CA_OverrideEXCHANGE2One" Property="EXCHANGE" Value="1"/>
    <CustomAction Id="CA_OverrideEXVER" Property="EXVER" Value="[OVEX]" Execute="firstSequence" />
    <CustomAction Id="SetPatchReinstallMode" Property="REINSTALLMODE" Value="omus" />
    <CustomAction Id="SetPatchMode" BinaryKey="Callwisepatch" DllEntry="SetPatchProperties" />
    <CustomAction Id="GetCurrentUser" BinaryKey="libca.dll" DllEntry="MsiGetCurrentUser" Execute="firstSequence" />
    <CustomAction Id="Action20SetCustomActionData" Property="CustomActionData" Value="[Action20]" />
    <CustomAction Id="CA_SetExchange_UI" Property="EXCHANGE" Value="1" />
    <CustomAction Id="checkeEXVersion" BinaryKey="WiseCustomCall" DllEntry="f7" Return="ignore" Execute="firstSequence" />
    <CustomAction Id="WiseSetProfilesFolder" BinaryKey="Callwisepatch" DllEntry="SetProfilesFolder" />
    <CustomAction Id="WiseStartup" BinaryKey="WiseCustomCall" DllEntry="Startup" Execute="firstSequence" />
    <CustomAction Id="WiseCleanup" BinaryKey="WiseCustomCall" DllEntry="Cleanup" />
    <CustomAction Id="checkAD" BinaryKey="WiseCustomCall" DllEntry="g6" Execute="firstSequence" />
    <CustomAction Id="CheckExchange" BinaryKey="WiseCustomCall" DllEntry="f5" Return="ignore" Execute="firstSequence" />
    <CustomAction Id="check_IISSMTP" BinaryKey="Callchecksmtp" VBScriptCall="" Return="ignore" Execute="firstSequence" />
    <CustomAction Id="SetIISSMTP2One" Property="IISSMTP" Value="1"/>
    <CustomAction Id="CA_CheckForHubTransport_UI" BinaryKey="Callxs2knfo_x64" DllEntry="xs2knfo_msi_ise2k7_hubtransportserver" />
    <CustomAction Id="CA_CheckForE2007_UI" BinaryKey="Callxs2knfo_x64" DllEntry="xs2knfo_msi_ise2k7orlater" />
    <CustomAction Id="CA_SetEXVER2EX2007_UI" Property="EXVER" Value="2007" />
    <CustomAction Id="CA_TerminateCrossPlatform" Error="This version of the [ProductName]&#xD;&#xA;installer cannot be installed on x64 platforms. &#xD;&#xA;Please obtain the x64 version of this package." />
    <CustomAction Id="ca_set_target_path" Property="INSTALLDIR" Value="[PREVINSTALLDIR]" />
    <CustomAction Id="ca_determine_upgrade" BinaryKey="Callcheck_upgrade" VBScriptCall="CheckForUpgrade" />
    <CustomAction Id="ca_reset_upgrade" Property="UPGRADINGPREVIOUSBUILD" Value="" />
    <CustomAction Id="CA_Reset32NQPFDrivers" Property="NPQFCMDLINEBOX" Value="0" />
    <CustomAction Id="CA_SetBrookUninstallPath" Property="BTUNINSTALLER" Value="[BROOKTROUTPATH]..\unins000.exe" />
    <CustomAction Id="CA_StartBrooktroutUninstall" Property="BTUNINSTALLER" ExeCommand="/SILENT" Return="ignore" />
    <CustomAction Id="CA_ReinstallBrooktrout_x86" Directory="BROOKTROUT" ExeCommand="[BROOKTROUT]brooktrout_tr1034.exe /SILENT /DIR=&quot;[BROOKTROUTPATH]..&quot;" Return="ignore" />
    <CustomAction Id="CA_DetermineBTUpgradeStatus" BinaryKey="btupd.dll" DllEntry="CheckBTUpgradeStatus" />
    <CustomAction Id="set_OLDINSTALL" Property="OLDINSTALL" Value="1" />
    <CustomAction Id="CA_ReinstallBrooktrout_x64" Directory="BROOKTROUT" ExeCommand="[BROOKTROUT]brooktrout_tr1034_x64.exe /SILENT /DIR=&quot;[BROOKTROUTPATH]..&quot;" Return="ignore" />
    <CustomAction Id="CA_SetBTConfigtoolProperty" Property="BTCONFIG" Value="[BROOKTROUTPATH]Bin\Configtool.exe" />
    <CustomAction Id="CA_RunBTConfig" Property="BTCONFIG" ExeCommand="" Return="ignore" />
    <CustomAction Id="SetDebugLogPermCAImed" Property="SetDebugLogPermCA" Value="[INSTALLDIR]logs|O:BAG:BAD:(A;OICI;GA;;;BA)(A;OICI;GA;;;SY)(A;OICI;GA;;;WD)(A;OICI;GA;;;NS)" />
    <CustomAction Id="CA_CallHome" BinaryKey="libca.dll" DllEntry="CA_CallHome" />
    <CustomAction Id="SetProcessPermCA" BinaryKey="fileperm.dll" DllEntry="SetPermissionsMsiCA" Execute="deferred" Impersonate="no" />
    <CustomAction Id="UpgradeOldFSTs" FileKey="FSTsToMDBConv.exe" ExeCommand="" />
    <CustomAction Id="WiseAltStartup" BinaryKey="WiseCustomCall" DllEntry="AltStartup" />
    <CustomAction Id="UnInstallGWAYW" BinaryKey="WiseCustomCall" DllEntry="f12" Return="ignore" />
    <CustomAction Id="ask_for_IISRESTART" BinaryKey="Callask_iis_restart1" VBScriptCall="" Return="ignore" />
    <!--<CustomAction Id="unregister_sink_x64" FileKey="sinkadmin_x64.exe" ExeCommand="RFMSink" Return="ignore" Execute="deferred" Impersonate="no" /> -->
    <CustomAction Id="SetTempPermCA" BinaryKey="fileperm.dll" DllEntry="SetPermissionsMsiCA" Execute="deferred" Impersonate="no" />
    <CustomAction Id="SetE2K7DomainFax" Property="DOMAINFAXE2K7" Value=", [DOMAINFAX]" />
    <CustomAction Id="CA_TerminateWOEula" Error="Installation cannot continue because the End User License Agreement terms were not accepted." />
    <CustomAction Id="SetE2K7DomainSMS" Property="DOMAINSMSE2K7" Value=", [DOMAINSMS]" />
    <CustomAction Id="delete_IIS_alias" BinaryKey="Calldelete_alias2" VBScriptCall="" Return="ignore" Execute="deferred" Impersonate="no" />
    <CustomAction Id="create_IIS_alias" BinaryKey="Callcreate_alias1" VBScriptCall="" Return="ignore" Execute="deferred" Impersonate="no" />
    <CustomAction Id="create_mdb" BinaryKey="Callcreate_mdb" VBScriptCall="" Return="ignore" />
    <CustomAction Id="CA_TerminateOnWrongCredentials" Error="[PASSNOMATCH]" />
    <CustomAction Id="write_key" BinaryKey="WiseCustomCall" DllEntry="f24" Return="ignore" />
    <CustomAction Id="CheckCredentials" BinaryKey="libca.dll" DllEntry="MsiCheckCredentialsLogonUser" />
    <CustomAction Id="remove_share" BinaryKey="WiseCustomCall" DllEntry="f18" Return="ignore" />
    <CustomAction Id="unregister_sink" FileKey="sinkadmin.exe" ExeCommand="rfmsink" Return="ignore" Execute="deferred" Impersonate="no" />
    <!-- <CustomAction Id="register_sink_x64" FileKey="sinkadmin_x64.exe" ExeCommand="AFMSink" Execute="deferred" Impersonate="no" /> -->
    <CustomAction Id="InstallPrinterDriver" Directory="INSTALLDIR" ExeCommand="&quot;[SystemFolder]rundll32.exe&quot; prntinst.dll,rundll_install_ex -w2k -nostdmsg -noerrmsg -refcount" />
    <CustomAction Id="InstallGWAYW" BinaryKey="WiseCustomCall" DllEntry="f10" Return="ignore" />
    <CustomAction Id="SetDebugLogPermCA" BinaryKey="fileperm.dll" DllEntry="SetPermissionsMsiCA" Execute="deferred" Impersonate="no" />
    <CustomAction Id="SetRootRegPermCA" BinaryKey="regperm.dll" DllEntry="SetPermissionsMsiCA" Execute="deferred" Impersonate="no" />
    <CustomAction Id="SetSinkDropPermProperty" Property="SetSinkDropPermCA" Value="[INSTALLDIR]SinkDrop|O:BAG:BAD:(A;OICI;GA;;;BA)(A;OICI;GA;;;SY)(A;OICI;GR;;;WD)(A;OICI;GA;;;NS)" />
    <CustomAction Id="SetSinkDropPermCA" BinaryKey="fileperm.dll" DllEntry="SetPermissionsMsiCA" Execute="deferred" Impersonate="no" />
    <CustomAction Id="SetRootRegPermProperty" Property="SetRootRegPermCA" Value="SOFTWARE\GFI FAX &amp; VOICE|O:BAG:BAD:(A;OICI;KA;;;BA)(A;OICI;KA;;;SY)(A;OICI;KA;;;WD)" />
    <CustomAction Id="CA_SetExchange_EI" Property="EXCHANGE" Value="1" />
    <CustomAction Id="CA_RemoveFMPrinter" Directory="INSTALLDIR" ExeCommand="rundll32.exe prntInst.dll,rundll_install_ex -w2k -nostdmsg -noerrmsg -uninstallonly -refcount" Execute="deferred" Impersonate="no" />
    <CustomAction Id="CA_TerminateInstallInAbsenseOfHub" Error="[ProductName] requires the following to be installed:&#xD;&#xA;IIS SMTP or Exchange 2000/2003&#xD;&#xA;&#xD;&#xA;OR&#xD;&#xA;&#xD;&#xA;Microsoft Exchange 2007/2010/2013 Hub Transport Role." />
    <CustomAction Id="CA_InstallForeignConnector" Directory="INSTALLDIR" ExeCommand="[INSTALLDIR]fcadmin.exe -c -name &quot;GFIFaxmaker&quot; -AddressSpaces &quot;SMTP:faxmaker.com,SMTP:smsmaker.com,FAX:*,SMS:*[DOMAINFAXE2K7][DOMAINSMSE2K7]&quot; -DropFolderPath &quot;[INSTALLDIR]SinkDrop&quot;" Execute="deferred" />
    <CustomAction Id="set_IISRESTART" Property="IISRESTART" Value="0" />
    <CustomAction Id="CA_RemoveForeignConnector" Directory="INSTALLDIR" ExeCommand="[INSTALLDIR]fcadmin.exe -d -name &quot;GFIFaxmaker&quot;" Return="ignore" Execute="deferred" />
    <CustomAction Id="CA_CheckForE2007_EI" BinaryKey="Callxs2knfo_x64" DllEntry="xs2knfo_msi_ise2k7orlater" />
    <CustomAction Id="CA_SetEXVER2EX2007_EI" Property="EXVER" Value="2007" />
    <CustomAction Id="CA_CheckForHubTransport_EI" BinaryKey="Callxs2knfo_x64" DllEntry="xs2knfo_msi_ise2k7_hubtransportserver" />
    <CustomAction Id="CA_RemoveRecvConnector_ED" Directory="INSTALLDIR" ExeCommand="[INSTALLDIR]psexec.exe remove-receiveconnector -Identity &quot;GFIFaxmaker&quot; -confirm:$false" Return="ignore" Execute="deferred" />
    <CustomAction Id="CA_InstallRecvConnector_ED" Directory="INSTALLDIR" ExeCommand="[INSTALLDIR]psexec.exe new-receiveconnector -name &quot;GFIFaxmaker&quot; -Bindings &quot;0.0.0.0:25&quot; -RemoteIPRanges &quot;[EXNAME]&quot; -AuthMechanism &quot;ExternalAuthoritative&quot; -PermissionGroups &quot;ExchangeServers&quot; -fqdn &quot;faxmaker.com&quot;" Execute="deferred" />
    <CustomAction Id="CA_InstallNPQFPrinter_SRV2003" Directory="INSTALLDIR" ExeCommand="[SystemFolder]rundll32.exe prntinst.dll,rundll_install_npq2f_srv2003 [NPQFCOMMANDLINE]" />
    <CustomAction Id="CA_RemoveNPQFPrinter_SRV2003" Directory="INSTALLDIR" ExeCommand="[SystemFolder]rundll32.exe prntinst.dll,rundll_install_npq2f_srv2003 -nostdmsg -noerrmsg -uninstallonly" Execute="deferred" Impersonate="no" />
    <CustomAction Id="CreateNPQFShare_CA" BinaryKey="shares.dll" DllEntry="AddShareMsiCA" Execute="deferred" Impersonate="no" />
    <CustomAction Id="SetPropertyCreateNPQFShare_CA" Property="CreateNPQFShare_CA" Value="[INSTALLDIR]NetPrintQ2Fax|NetPrintQueue2Fax_Drivers" />
    <CustomAction Id="get_EXNAME_uninst" BinaryKey="Callgetdomain" VBScriptCall="" Return="ignore" />
    <CustomAction Id="SetPropertyRemoveNPQFShare_CA" Property="RemoveNPQFShare_CA" Value="NetPrintQueue2Fax_Drivers" />
    <CustomAction Id="RemoveNPQFShare_CA" BinaryKey="shares.dll" DllEntry="RemoveShareMsiCA" Execute="deferred" Impersonate="no" />
    <CustomAction Id="create_share" BinaryKey="WiseCustomCall" DllEntry="f17" Return="ignore" />
    <CustomAction Id="register_sink" FileKey="sinkadmin.exe" ExeCommand="afmsink" Execute="deferred" Impersonate="no" />
    <CustomAction Id="restart_SMTP" BinaryKey="WiseCustomCall" DllEntry="g9" Return="ignore" />
    <CustomAction Id="CA_OpenUninstallPage" BinaryKey="libca.dll" DllEntry="CA_OpenUninstallPage" />
    <CustomAction Id="SetPermProcessCAImed" Property="SetProcessPermCA" Value="[INSTALLDIR]process|O:BAG:BAD:(A;OICI;GA;;;BA)(A;OICI;GA;;;SY)(A;OICI;GA;;;WD)(A;OICI;GA;;;NS)" />
    <CustomAction Id="SetTempPermCAImed" Property="SetTempPermCA" Value="[INSTALLDIR]temp|O:BAG:BAD:(A;OICI;GA;;;BA)(A;OICI;GA;;;SY)(A;OICI;GA;;;WD)(A;OICI;GA;;;NS)" />
    <CustomAction Id="CA_GenInstallID" BinaryKey="Callidgen" DllEntry="GenerateNewID_CA" />
<!-- <CustomAction Id="del_ini_file_mappings" BinaryKey="WiseCustomCall" DllEntry="g19" /> -->
    <CustomAction Id="CA_RemoveSendConnector" Directory="INSTALLDIR" ExeCommand="[INSTALLDIR]psexec.exe remove-sendconnector -Identity &quot;GFIFaxmaker&quot; -confirm:$false" Return="ignore" Execute="deferred" />
    <CustomAction Id="CA_InstallSendConnector" Directory="INSTALLDIR" ExeCommand="[INSTALLDIR]psexec.exe new-sendconnector -name &quot;GFIFaxmaker&quot; -AddressSpaces  SMTP:faxmaker.com , SMTP:smsmaker.com , FAX:* , SMS:* [DOMAINFAXE2K7] [DOMAINSMSE2K7] -DNSRoutingEnabled:$false -SmartHosts &quot;[EXNAME]&quot;" Execute="deferred" />
    <CustomAction Id="UpgradeUsrDBforWSAPI" FileKey="usrdbupg.exe" ExeCommand="" />
    <CustomAction Id="CA_TerminateSilentUpgrade" Error="This version of GFI FaxMaker cannot be upgraded over existing installations in unattended mode." />
    <CustomAction Id="SetCADforcreate_IIS_alias" Property="create_IIS_alias" Value="[DOMAINFAX];[DOMAINSMS]" />
    <CustomAction Id="CA_SetExchangeConnector" Property="EXCHANGECONNECTOR" Value="[EXCHANGE]" />
    <CustomAction Id="UpgradeFST" FileKey="fmcfgupg.exe" ExeCommand="-non-interactive" Return="ignore" />
    <CustomAction Id="UpgradeConfigDB" BinaryKey="libca.dll" DllEntry="MsiCreateDbAndTables" />
    <CustomAction Id="UpgradeUserDB" FileKey="fmusrdbupgrade.exe" ExeCommand="" Return="ignore" />
    <CustomAction Id="SetCADfordelete_IIS_alias" Property="delete_IIS_alias" Value="[DOMAINFAX];[DOMAINSMS]" />
    <CustomAction Id="UpgradeGSMCfg" FileKey="GSMConfigUpgradeTool.exe" ExeCommand="" Return="ignore" />
    <CustomAction Id="UpgradeDLESchema" FileKey="dleupg.exe" ExeCommand="" />
    <CustomAction Id="InstallMSMQ.2K12" Directory="System64Folder" ExeCommand="[System64Folder]dism.exe /online /enable-feature /featurename:MSMQ-Server /all /quiet /norestart" Execute="deferred" />
    <CustomAction Id="InstallMSMQ.2K8" BinaryKey="WiseCustomCall" DllEntry="f8" Execute="deferred" />
    <CustomAction Id="InstallMSMQ" BinaryKey="WiseCustomCall" DllEntry="f3" Execute="deferred" />
    <CustomAction Id="start_wizard" Directory="INSTALLDIR" ExeCommand="[INSTALLDIR]InitCfgWiz.exe -upgradecheck:[GFISETUPUPGRADE]" Return="asyncNoWait" />
    <CustomAction Id="start_config" Directory="INSTALLDIR" ExeCommand="[SystemFolder]mmc.exe &quot;[INSTALLDIR]fmconfig.msc&quot;" Return="asyncNoWait" />
    <CustomAction Id="open_licpage" BinaryKey="Calllaunchurl" VBScriptCall="" Return="ignore" />
    <CustomAction Id="check_key" BinaryKey="Callinsthlps2" DllEntry="insthlps2_checklicensekey_msi" />
    <CustomAction Id="get_tel_data" BinaryKey="Callget_tel_data" VBScriptCall="" Return="ignore" />
    <CustomAction Id="check_update.exe" BinaryKey="WiseCustomCall" DllEntry="g11" Return="ignore" />
    <CustomAction Id="browse" BinaryKey="WiseCustomCall" DllEntry="f14" Return="ignore" />
    <CustomAction Id="check_fmserver" BinaryKey="Callcheck_fax_server" VBScriptCall="" Return="ignore" />
  </Fragment>
</Wix>