<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="LocalizedFiles" Directory="INSTALLDIR">
      <!--================================================================================================-->
      <!--=================================== Resource dlls ==============================================-->
      <!--================================================================================================-->
      <Component Id="fmconfigRes.dll" Guid="{270341BB-DDC6-49FE-9410-B3C8B1381AF4}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fmconfigRes.dll" Name="fmconfigRes.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fmconfigRes.dll" />
        <File Id="fmconfig.msc" Name="fmconfig.msc" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fmconfig.msc" />
      </Component>
      <Component Id="trb_ques.eng" Guid="{E3C3D3CC-93D3-45C8-A28F-1357A2448EAD}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="trb_ques.eng" Name="trb_ques.eng" KeyPath="yes" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\trb_ques.eng" />
      </Component>
      <Component Id="fm_monRes.dll" Guid="{2ACD85C9-3D88-4BBD-A0F3-A22FAF19B085}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fm_monRes.dll" Name="fm_monRes.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fm_monRes.dll" />
      </Component>
      <Component Id="fgwconfgres.dll" Guid="{EB05914B-2D07-4BC0-80C1-5A80B9E39B5A}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fgwconfgres.dll" Name="fgwconfgres.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fgwconfgres.dll" />
      </Component>
      <Component Id="srvrres.dll" Guid="{C1FC21D1-9573-4D9E-9343-F4E2104D49F8}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="srvrres.dll" Name="srvrres.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\srvrres.dll" />
      </Component>
      <Component Id="dlecfgres.dll" Guid="{E6290671-1F57-4037-B02F-8F23B906CDE2}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="dlecfgres.dll" Name="dlecfgres.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\dlecfgres.dll" />
      </Component>
      <Component Id="fmon_axres.dll" Guid="{DE99B539-D229-434B-B982-DC04E58FF8F8}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fmon_axres.dll" Name="fmon_axres.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fmon_axres.dll" />
        <File Id="fm_mon.msc" Name="fm_mon.msc" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fm_mon.msc" />
      </Component>
      <Component Id="fmgwinetres.dll" Guid="{A1044DA2-95DF-49FB-856E-11A6842B91E2}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fmgwinetres.dll" Name="fmgwinetres.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fmgwinetres.dll" />
      </Component>
      <Component Id="fmserverres.dll" Guid="{2FF1FFA1-F2CB-4EC5-8926-FDD8AE733EEE}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fmserverres.dll" Name="fmserverres.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fmserverres.dll" />
      </Component>
      <Component Id="InitCfgWizRes.dll" Guid="{30599AA2-32DA-4105-950D-4879F1A51684}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="InitCfgWizRes.dll" Name="InitCfgWizRes.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\InitCfgWizRes.dll" />
      </Component>
      <Component Id="troubleres.dll" Guid="{B563AA13-F5DE-4725-A58D-ABE89C996633}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="troubleres.dll" Name="troubleres.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\troubleres.dll" />
      </Component>
      <Component Id="userutilRes.dll" Guid="{A0B6A662-AB36-4701-8891-FAEC11AA74DD}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="userutilRes.dll" Name="userutilRes.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\userutilRes.dll" />
      </Component>
      <Component Id="trb_extres.dll" Guid="{0A6F6A78-F457-4910-8E1C-E2A23EEBA558}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="trb_extres.dll" Name="trb_extres.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\trb_extres.dll" />
      </Component>

      <!--================================================================================================-->
      <!--=================================== Manuals ====================================================-->
      <!--================================================================================================-->
      <Component Id="apimanual.chm" Guid="{A6646C9D-D3F5-4EC6-934A-320308985DFA}">
        <Condition>FAXSERVER=1</Condition>
        <File Id="apimanual.chm" Name="apimanual.chm" KeyPath="yes"  Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\apimanual.chm" />
      </Component>
      <Component Id="faxinstallmanual.chm" Guid="{BF8BAC8C-E34A-47AB-AF71-E85A8B3E8C7F}">
        <Condition>FAXSERVER=1</Condition>
        <File Id="faxdeviceinstall.chm" Name="faxdeviceinstall.chm" KeyPath="yes"  Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\faxdeviceinstall.chm" />
      </Component>
      <Component Id="faxmakermanual.chm" Guid="{C8D5E2C4-DBEE-4DA7-9537-6585F9EEB6BD}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="faxmakermanual.chm" Name="faxmakermanual.chm" KeyPath="yes" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\faxmakermanual.chm" />
      </Component>

      <!--================================================================================================-->
      <!--=================================== SMS Configuration XMLs =====================================-->
      <!--================================================================================================-->
      <Component Id="fmsmscomms.xml" Guid="{EB8557F8-4595-40EF-BD97-0306ED8F1609}" NeverOverwrite="yes" Permanent="yes">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fmsmscomms.xml" Name="fmsmscomms.xml" KeyPath="yes"  Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fmsmscomms.xml" />
      </Component>
      <Component Id="fmsmscomms_upgrade.xml" Guid="{32734C8D-31FA-4000-888C-4386F282D224}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fmsmscomms_upgrade.xml" Name="fmsmscomms_upgrade.xml" KeyPath="yes"  Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fmsmscomms_upgrade.xml" />
      </Component>
      <Component Id="fmsmscomms_new.xml" Guid="{CF496C0D-7B83-47AE-961A-4833ACBE9E67}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fmsmscomms_new.xml" Name="fmsmscomms_new.xml" KeyPath="yes"  Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\fmsmscomms_new.xml" />
      </Component>

      <!--================================================================================================-->
      <!--=================================== Localized images ===========================================-->
      <!--================================================================================================-->
      <Component Id="buynow.bmp" Guid="{7591E5DC-B970-4912-AAE5-882BA29D476D}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="buynow.bmp" Name="buynow.bmp" KeyPath="yes" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\buynow.bmp" />
      </Component>
      <Component Id="exteval.bmp" Guid="{6F3BEFF3-9B46-469E-9BC5-8B29F1FDFF51}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="extendeval.bmp" Name="extendeval.bmp" KeyPath="yes"  Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\!(loc.LANG)\extendeval.bmp" />
      </Component>
    </ComponentGroup>

    <!--================================================================================================-->
    <!--=================================== Reports templates used for noteifications ==================-->
    <!--================================================================================================-->
    <ComponentGroup Id="Reports" Directory="reports">
      <Component Id="admin.fbt" Guid="{19FBDADB-0C88-46C2-B3D0-A94F590211A5}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="admin.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\admin.fbt" />
      </Component>
      <Component Id="api_error.fbttxt" Guid="{1CE92B08-680E-4CD6-A540-06AD68266260}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="api_error.fbttxt" Name="api_error.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\api_error.fbttxt" />
      </Component>
      <Component Id="api_sent.fbttxt" Guid="{F35E9A93-F151-4EC2-8629-1B8FB52FAE73}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="api_sent.fbttxt" Name="api_sent.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\api_sent.fbttxt" />
      </Component>
      <Component Id="boxedtext.fbt" Guid="{99A576F5-267C-4FDC-B897-868B9B84C563}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="boxedtext.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\boxedtext.fbt" />
      </Component>
      <Component Id="fax_error.fbt" Guid="{07BF91DA-A3C6-4817-9F7F-9395A633B827}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fax_error.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fax_error.fbt" />
      </Component>
      <Component Id="fax_preview.fbt" Guid="{83E307FE-F87C-459B-AC62-FB7014A49C0D}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fax_preview.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fax_preview.fbt" />
      </Component>
      <Component Id="fax_recv_fails.fbt" Guid="{E15DE39A-6109-4C4E-8A01-4211EDBB8515}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fax_recv_fails.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fax_recv_fails.fbt" />
      </Component>
      <Component Id="fax_recv_success.fbt" Guid="{FEC844C9-FD6B-4163-B2E5-1D6F1582DCF6}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fax_recv_success.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fax_recv_success.fbt" />
      </Component>
      <Component Id="fax_sent_fails.fbt" Guid="{9D973FD3-7CEB-4BEC-A43B-377829BDD220}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fax_sent_fails.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fax_sent_fails.fbt" />
      </Component>
      <Component Id="fax_sent_success.fbt" Guid="{B48C1C53-0EE5-4C50-BC79-CB45EB56549A}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fax_sent_success.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fax_sent_success.fbt" />
      </Component>
      <Component Id="fax_summarysent.fbt" Guid="{2870026C-7ACB-4290-B6C9-1C0272E4CFEA}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fax_summarysent.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fax_summarysent.fbt" />
      </Component>
      <Component Id="fax_summarysent_details.fbttxt" Guid="{C37E7BFC-0913-4C83-A3C7-7999D3A888EA}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fax_summarysent_details.fbttxt" Name="fax_summarysent_details.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fax_summarysent_details.fbttxt" />
      </Component>
      <Component Id="fbtflds.fbttxt" Guid="{C622D6C5-9166-4508-81FD-C5C6FFA84EA3}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="fbtflds.fbttxt" Name="fbtflds.txt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\fbtflds.fbttxt" />
      </Component>
      <Component Id="hpf_err.fbttxt" Guid="{CEA0767B-7EBB-47CE-9372-CF4F29AC9243}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="hpf_err.fbttxt" Name="hpf_err.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\en\hpf_err.fbttxt" />
      </Component>
      <Component Id="hpf_ok.fbttxt" Guid="{250E1886-4661-4134-8E2D-D6310EDB93ED}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="hpf_ok.fbttxt" Name="hpf_ok.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\en\hpf_ok.fbttxt" />
      </Component>
      <Component Id="mtaerror.fbt" Guid="{22F9C31F-2396-439F-A885-0B4667399759}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="mtaerror.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\mtaerror.fbt" />
      </Component>
      <Component Id="sap_err.fbttxt" Guid="{6A06C83B-521F-4FF2-9CD3-E573CD25B546}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sap_err.fbttxt" Name="sap_err.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\en\sap_err.fbttxt" />
      </Component>
      <Component Id="sap_ok.fbttxt" Guid="{F28562F0-2F5F-4FF4-8EF1-202538C36541}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sap_ok.fbttxt" Name="sap_ok.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\en\sap_ok.fbttxt" />
      </Component>
      <Component Id="sms_error.fbt" Guid="{F1DFE3B9-7B32-4F0C-8530-0D3B5F2096D5}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sms_error.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\sms_error.fbt" />
      </Component>
      <Component Id="sms_recv_fails.fbt" Guid="{883A1A0F-1F7B-4AB4-8787-CA498636BF87}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sms_recv_fails.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\sms_recv_fails.fbt" />
      </Component>
      <Component Id="sms_recv_success.fbt" Guid="{9ED63E09-66C4-448A-8141-F4CE65EB306C}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sms_recv_success.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\sms_recv_success.fbt" />
      </Component>
      <Component Id="sms_sent_fails.fbt" Guid="{618F0438-4FFF-43EB-A139-3F1F76083834}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sms_sent_fails.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\sms_sent_fails.fbt" />
      </Component>
      <Component Id="sms_sent_success.fbt" Guid="{462F8CFA-F975-4A15-BB1E-AF52AE2D6AAB}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sms_sent_success.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\sms_sent_success.fbt" />
      </Component>
      <Component Id="sms_summarysent.fbt" Guid="{16717262-1288-415E-8569-B1B10AD4A684}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sms_summarysent.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\sms_summarysent.fbt" />
      </Component>
      <Component Id="sms_summarysent_details.fbttxt" Guid="{989FDA2E-24DE-435E-B312-CBEBBB05732F}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="sms_summarysent_details.fbttxt" Name="sms_summarysent_details.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\sms_summarysent_details.fbttxt" />
      </Component>
      <Component Id="testemail.fbt" Guid="{16462CB5-E5A2-49E7-BD51-82F8823AC7DD}">
        <Condition>(FAXSERVER=1) OR (REMOTEMONITOR=1)</Condition>
        <File Id="testemail.fbt" KeyPath="yes" DiskId="3" Source="$(var.SourceFiles)\File\data\reports\!(loc.LANG)\testemail.fbt" />
      </Component>
    </ComponentGroup>

    <!--================================================================================================-->
    <!--=================================== Quick Start Guide ==========================================-->
    <!--================================================================================================-->

    <Component Id="QuickStartGuide" Directory="qsg" Guid="{A6AD7705-FBE0-4BE0-BC6E-C9FA3C6A9F84}">
      <Condition>FAXSERVER=1</Condition>
      <File Id="faxqsg.html" Name="fax-qsg.html" KeyPath="yes"  Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\qsg\!(loc.LANG)\fax-qsg.html" />
      <File Id="image001.jpg" Name="image001.jpg" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\qsg\!(loc.LANG)\image001.jpg" />
      <File Id="image002.jpg" Name="image002.jpg" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\qsg\!(loc.LANG)\image002.jpg" />
      <File Id="image003.jpg" Name="image003.jpg" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\qsg\!(loc.LANG)\image003.jpg" />
      <File Id="image004.jpg" Name="image004.jpg" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\qsg\!(loc.LANG)\image004.jpg" />
      <File Id="image005.jpg" Name="image005.jpg" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\qsg\!(loc.LANG)\image005.jpg" />
      <File Id="image006.jpg" Name="image006.jpg" Vital="no" DiskId="3" Source="$(var.SourceFiles)\File\qsg\!(loc.LANG)\image006.jpg" />
    </Component>

  </Fragment>
</Wix>