<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="NPQFDrivers">
      <Component Id="npqf_gpd" Guid="{2E9F09C5-16BF-4FC8-B405-56E012BDB7FD}" Directory="NetPrintQ2Fax">
        <Condition>VersionNT&gt;=501 AND FAXSERVER=1</Condition>
        <File Id="npqf.gpd" Name="npqf.gpd" KeyPath="yes" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\NetPrintQ2Fax\npqf.gpd" />
        <File Id="npqf_drv.ini" Name="npqf_drv.ini" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\NetPrintQ2Fax\npqf_drv.ini" />
        <File Id="npqf.inf" Name="npqf.inf" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\NetPrintQ2Fax\npqf.inf" />
      </Component>
      <Component Id="npqf.cat" Guid="{D5C19ED6-75F7-4ECB-B8B9-7F4C1E98257A}" Directory="NetPrintQ2Fax">
        <File Id="npqf.cat" Name="npqf.cat" KeyPath="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\NetPrintQ2Fax\npqf.cat" />
      </Component>
      
      <Component Id="npqf_proc" Guid="{82725156-9E3A-4A80-A25A-F6A8B39692D0}" Directory="INSTALLDIR">
        <Condition>(VersionNT&gt;=501) AND FAXSERVER=1</Condition>
        <File Id="npqf_proc.exe" Name="npqf_proc.exe" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\npqf_proc.exe" />
        <File Id="npq2fprinter_uninstall.cmd" Name="npq2fprinter_uninstall.cmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\NetPrintQ2Fax\npq2fprinter_uninstall.cmd" />
        <File Id="npq2fprinter_install.cmd" Name="npq2fprinter_install.cmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\NetPrintQ2Fax\npq2fprinter_install.cmd" />
      </Component>

      <Component Id="npqf_drv_x86" Guid="{743D8881-1B30-47EC-8E8B-CCE09FFDE7D3}" Directory="npqf_i386">
        <Condition>VersionNT&gt;=501 AND FAXSERVER=1</Condition>
        <File Id="npqf_drv_x86.dll" Name="npqf_drv.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\NetPrintQ2Fax\x86\npqf_drv.dll" />
      </Component>

      <Component Id="npqf_drv_x64" Guid="{1A8DC102-9F41-4987-9DD9-A8547FA88CCA}" Directory="npqf_amd64">
        <Condition>VersionNT&gt;=501 AND FAXSERVER=1</Condition>
        <File Id="npqf_drv_x64.dll" Name="npqf_drv.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\NetPrintQ2Fax\amd64\npqf_drv.dll" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>