<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
      <ComponentGroup Id="OCR" Directory="ocr">
        <Component Id="CRX.dll" Guid="{56780795-1591-4DC4-9C20-2EC68BD69A61}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="CRX.dll" Name="CRX.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\CRX.dll" />
        </Component>
        <Component Id="pccext.dll" Guid="{8AE31224-BD60-4A9A-AAFC-765A60A43ECA}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="pccext.dll" Name="pccext.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\pccext.dll" />
        </Component>
        <Component Id="Bnt.dll" Guid="{5C537352-DBA5-4314-A2F2-449220A79D22}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="Bnt.dll" Name="Bnt.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\Bnt.dll" />
        </Component>
        <Component Id="Mor4.dll" Guid="{E39504EC-1CC9-48F2-8B70-3B894E9D1F61}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="Mor4.dll" Name="Mor4.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\Mor4.dll" />
        </Component>
        <Component Id="ICDLLW32.dll" Guid="{6E06C2A3-79C5-47BA-9A8E-A3C24BDEADDA}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="ICDLLW32.dll" Name="ICDLLW32.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\ICDLLW32.dll" />
        </Component>
        <Component Id="Mor3.dll" Guid="{9D36E34B-B609-499C-9D9F-F349D31FE17E}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="Mor3.dll" Name="Mor3.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\Mor3.dll" />
        </Component>
        <Component Id="RecDiag.dll" Guid="{2A8F3A46-582A-43D0-9798-9EEA5EEECA46}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="RecDiag.dll" Name="RecDiag.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\RecDiag.dll" />
        </Component>
        <Component Id="Mor2.dll" Guid="{A34486D3-9090-4C6E-AEC0-B98FAB25E94E}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="Mor2.dll" Name="Mor2.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\Mor2.dll" />
        </Component>
        <Component Id="pccext4.dll" Guid="{0857FB7B-3589-4645-9412-6A4288842325}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="pccext4.dll" Name="pccext4.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\pccext4.dll" />
        </Component>
        <Component Id="xocr.dll" Guid="{82F8815C-4B8B-4DC0-8E1D-460B5E03AD84}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="xocr.dll" Name="xocr.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\xocr.dll" />
        </Component>
        <Component Id="pccext3.dll" Guid="{559EE4BF-6041-4DB7-92A5-F247B12EC16A}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="pccext3.dll" Name="pccext3.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\pccext3.dll" />
        </Component>
        <Component Id="xocr4.dll" Guid="{49A55B28-8B0E-42B2-B596-B3B6D7430333}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="xocr4.dll" Name="xocr4.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\xocr4.dll" />
        </Component>
        <Component Id="pccext2.dll" Guid="{2D6E1D5D-6102-4FC0-B2E7-8984828E7CAD}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="pccext2.dll" Name="pccext2.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\pccext2.dll" />
        </Component>
        <Component Id="xocr3.dll" Guid="{008F2708-AA5F-4308-9012-4055032624B0}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="xocr3.dll" Name="xocr3.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\xocr3.dll" />
        </Component>
        <Component Id="DISTR_TST.exe" Guid="{86BA6038-5A79-4295-9A1E-F944FFA36E75}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="DISTR_TST.exe" Name="DISTR_TST.exe" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\DISTR_TST.exe" />
        </Component>
        <Component Id="xocr2.dll" Guid="{5184A402-7A54-46F8-B839-A3BCB6DD1AF0}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="xocr2.dll" Name="xocr2.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\xocr2.dll" />
        </Component>
        <Component Id="LogMan.dll" Guid="{2CC7EBA1-5078-4664-BF9A-3DE947A2FA72}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="LogMan.dll" Name="LogMan.dll" KeyPath="yes" Vital="no" Checksum="yes" SelfRegCost="0" DiskId="1" Source="$(var.SourceFiles)\File\LogMan.dll" />
        </Component>
        <Component Id="SPDFLib.dll" Guid="{83BE3D1A-62F7-4A0E-B260-D8620FE41986}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="SPDFLib.dll" Name="SPDFLib.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\SPDFLib.dll" />
        </Component>
        <Component Id="kdu_V43R.DLL" Guid="{5F9F9E3C-7FD1-4230-8969-EBF245C7D287}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="kdu_V43R.DLL" Name="kdu_V43R.DLL" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\kdu_V43R.DLL" />
        </Component>
        <Component Id="Firewrx.dll" Guid="{A08FC9AF-AB76-4195-9514-5E7EC7248E85}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="Firewrx.dll" Name="Firewrx.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\Firewrx.dll" />
        </Component>
        <Component Id="Mor.dll" Guid="{FDF839E4-AD1A-46C6-B5CF-EC0584AF3F8D}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="Mor.dll" Name="Mor.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\Mor.dll" />
        </Component>
        <Component Id="FireWrx4.dll" Guid="{639083AA-F860-48F5-9771-330005A49182}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="FireWrx4.dll" Name="FireWrx4.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\FireWrx4.dll" />
        </Component>
        <Component Id="FireWrx3.dll" Guid="{CC233466-AF70-4179-A12E-6D9B36B14B15}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="FireWrx3.dll" Name="FireWrx3.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\FireWrx3.dll" />
        </Component>
        <Component Id="xocr32b.exe" Guid="{D39BAD57-41E7-4063-B9A8-38BE636820EA}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="xocr32b.exe" Name="xocr32b.exe" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\xocr32b.exe" />
        </Component>
        <Component Id="FireWrx2.dll" Guid="{20A74D0C-16CB-4CE3-AC0E-84F8D6E609D5}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="FireWrx2.dll" Name="FireWrx2.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\FireWrx2.dll" />
        </Component>
        <Component Id="KernelAPI.dll" Guid="{E6FE8AA4-545B-4A7A-9921-5860E6C6A5C8}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="KernelAPI.dll" Name="KernelAPI.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\KernelAPI.dll" />
          <File Id="zbigramk.dat" Name="zbigramk.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\zbigramk.dat" />
          <File Id="uhc.cjkset" Name="uhc.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\uhc.cjkset" />
          <File Id="chs.mb" Name="chs.mb" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\chs.mb" />
          <File Id="scprint2.dat" Name="scprint2.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\scprint2.dat" />
          <File Id="sami.set2" Name="sami.set" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\sami.set2" />
          <File Id="tw_su.dat" Name="tw_su.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tw_su.dat" />
          <File Id="tw_bu.dat" Name="tw_bu.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tw_bu.dat" />
          <File Id="tctree.dat" Name="tctree.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tctree.dat" />
          <File Id="tcprint.dat" Name="tcprint.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tcprint.dat" />
          <File Id="sizes.dat" Name="sizes.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\sizes.dat" />
          <File Id="EUCCN.cjkset" Name="EUC-CN.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\EUCCN.cjkset" />
          <File Id="datasim.dat" Name="datasim.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\datasim.dat" />
          <File Id="tw_ug.dat" Name="tw_ug.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tw_ug.dat" />
          <File Id="jpprint.dat" Name="jpprint.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\jpprint.dat" />
          <File Id="ssdocschema3.xsd3" Name="ssdoc-schema3.xsd"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\ssdocschema3.xsd3" />
          <File Id="sccode.uni" Name="sccode.uni" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\sccode.uni" />
          <File Id="jpprint2.dat" Name="jpprint2.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\jpprint2.dat" />
          <File Id="tcprint2.dat" Name="tcprint2.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tcprint2.dat" />
          <File Id="ocrhc.dat" Name="ocrhc.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\ocrhc.dat" />
          <File Id="mojilist.dat" Name="mojilist.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\mojilist.dat" />
          <File Id="krdist.dat" Name="krdist.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\krdist.dat" />
          <File Id="EUCJP.cjkset" Name="EUC-JP.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\EUCJP.cjkset" />
          <File Id="tw_uk.dat" Name="tw_uk.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tw_uk.dat" />
          <File Id="scprint.dat" Name="scprint.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\scprint.dat" />
          <File Id="krtree.dat" Name="krtree.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\krtree.dat" />
          <File Id="krprint.dat" Name="krprint.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\krprint.dat" />
          <File Id="big5.cjkset" Name="big5.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\big5.cjkset" />
          <File Id="tccode.uni" Name="tccode.uni" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tccode.uni" />
          <File Id="ocrvc.dat" Name="ocrvc.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\ocrvc.dat" />
          <File Id="jptree.dat" Name="jptree.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\jptree.dat" />
          <File Id="tw_ku.dat" Name="tw_ku.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tw_ku.dat" />
          <File Id="tcserht.dat" Name="tcserht.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tcserht.dat" />
          <File Id="cbigram.dat" Name="cbigram.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\cbigram.dat" />
          <File Id="bigramh.dat" Name="bigramh.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\bigramh.dat" />
          <File Id="uzu_n.dat" Name="uzu_n.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\uzu_n.dat" />
          <File Id="jpserht.dat" Name="jpserht.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\jpserht.dat" />
          <File Id="HKscs2004.cjkset" Name="HKscs-2004.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\HKscs2004.cjkset" />
          <File Id="engidx.dat" Name="engidx.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\engidx.dat" />
          <File Id="bigramz.dat" Name="bigramz.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\bigramz.dat" />
          <File Id="errstore.dat" Name="errstore.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\errstore.dat" />
          <File Id="hangullb.dat" Name="hangullb.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\hangullb.dat" />
          <File Id="unoun.dat" Name="unoun.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\unoun.dat" />
          <File Id="tw_gu.dat" Name="tw_gu.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tw_gu.dat" />
          <File Id="sctree.dat" Name="sctree.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\sctree.dat" />
          <File Id="quantifi.dat" Name="quantifi.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\quantifi.dat" />
          <File Id="korean.mb" Name="korean.mb" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\korean.mb" />
          <File Id="japan.mb" Name="japan.mb" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\japan.mb" />
          <File Id="EUCTW.cjkset" Name="EUC-TW.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\EUCTW.cjkset" />
          <File Id="tw_us.dat" Name="tw_us.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tw_us.dat" />
          <File Id="tw_ub.dat" Name="tw_ub.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\tw_ub.dat" />
          <File Id="shift_jis.cjkset" Name="shift_jis.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\shift_jis.cjkset" />
          <File Id="scserht.dat" Name="scserht.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\scserht.dat" />
          <File Id="krserht.dat" Name="krserht.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\krserht.dat" />
          <File Id="krcode.uni" Name="krcode.uni" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\krcode.uni" />
          <File Id="GB18030.cjkset" Name="GB18030.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\GB18030.cjkset" />
          <File Id="engdic.dat" Name="engdic.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\engdic.dat" />
          <File Id="lookup.dat" Name="lookup.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\lookup.dat" />
          <File Id="kszp.dat" Name="kszp.dat" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\kszp.dat" />
          <File Id="jpcode.uni" Name="jpcode.uni" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\jpcode.uni" />
          <File Id="gbk.cjkset" Name="gbk.cjkset"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\gbk.cjkset" />
          <File Id="cht.mb" Name="cht.mb" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\cht.mb" />
          <File Id="BIG5_GlyphMap_MingLiu.dat" Name="BIG5_GlyphMap_MingLiu.dat"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\BIG5_GlyphMap_MingLiu.dat" />
          <File Id="cylm.elm" Name="cylm.elm" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\cylm.elm" />
          <File Id="dut_medical.dmd" Name="dut_medical.dmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\dut_medical.dmd" />
          <File Id="dut_legal.dmd" Name="dut_legal.dmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\dut_legal.dmd" />
          <File Id="eng_financial.dmd" Name="eng_financial.dmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\eng_financial.dmd" />
          <File Id="eng_medical.dmd" Name="eng_medical.dmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\eng_medical.dmd" />
          <File Id="eng_legal.dmd" Name="eng_legal.dmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\eng_legal.dmd" />
          <File Id="fre_med.dmd" Name="fre_med.dmd" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\fre_med.dmd" />
          <File Id="fre_legal.dmd" Name="fre_legal.dmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\fre_legal.dmd" />
          <File Id="GB2312_GlyphMap_song.dat" Name="GB2312_GlyphMap_song.dat"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\GB2312_GlyphMap_song.dat" />
          <File Id="ger_medical.dmd" Name="ger_medical.dmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\ger_medical.dmd" />
          <File Id="ger_legal.dmd" Name="ger_legal.dmd"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\ger_legal.dmd" />
          <File Id="KOREAN_GlyphMap_GungsuhChe.dat" Name="KOREAN_GlyphMap_GungsuhChe.dat"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\KOREAN_GlyphMap_GungsuhChe.dat" />
          <File Id="OCR18Licence.lcxz" Name="OCR18Licence.lcxz"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\OCR18Licence.lcxz" />
          <File Id="pdfdoc.cjkset" Name="pdfdoc.cjkset"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\pdfdoc.cjkset" />
          <File Id="SJIS_GlyphMap_MSMinCho.dat" Name="SJIS_GlyphMap_MSMinCho.dat"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\SJIS_GlyphMap_MSMinCho.dat" />
        </Component>
        <Component Id="rndsdawg.dll" Guid="{9C676454-EEF5-48F6-AA48-292B6079A14E}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="rndsdawg.dll" Name="rndsdawg.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\rndsdawg.dll" />
        </Component>
        <Component Id="rndsinso.dll" Guid="{0D4AD374-F172-4F56-B8D2-8A9FF791E054}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="rndsinso.dll" Name="rndsinso.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\rndsinso.dll" />
        </Component>
        <Component Id="xiprtd.dmd" Guid="{9C01D850-FB49-44F7-A164-57F4F94615F9}">
          <Condition>(FAXSERVER=1)</Condition>
          <File Id="xiprtd.dmd" Name="xiprtd.dmd" KeyPath="yes" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xiprtd.dmd" />
          <File Id="XIITLP.BIN" Name="XIITLP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIITLP.BIN" />
          <File Id="XIFRND.BIN" Name="XIFRND.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFRND.BIN" />
          <File Id="Xiengd.bin" Name="Xiengd.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Xiengd.bin" />
          <File Id="XIDUTC.BIN" Name="XIDUTC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDUTC.BIN" />
          <File Id="R_ENG.DAT" Name="R_ENG.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_ENG.DAT" />
          <File Id="czech.lng" Name="czech.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\czech.lng" />
          <File Id="XINRWP.BIN" Name="XINRWP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XINRWP.BIN" />
          <File Id="xiitld.dmd" Name="xiitld.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xiitld.dmd" />
          <File Id="XIFRNE.BIN" Name="XIFRNE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFRNE.BIN" />
          <File Id="Xienge.bin" Name="Xienge.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Xienge.bin" />
          <File Id="XIDUTD.BIN" Name="XIDUTD.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDUTD.BIN" />
          <File Id="R_POR.DAT" Name="R_POR.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_POR.DAT" />
          <File Id="XIPRTS.BIN" Name="XIPRTS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIPRTS.BIN" />
          <File Id="XIPRTB.BIN" Name="XIPRTB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIPRTB.BIN" />
          <File Id="XIGRMP.BIN" Name="XIGRMP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIGRMP.BIN" />
          <File Id="Xiengf.bin" Name="Xiengf.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Xiengf.bin" />
          <File Id="XIDUTE.BIN" Name="XIDUTE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDUTE.BIN" />
          <File Id="XIBRTS.BIN" Name="XIBRTS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRTS.BIN" />
          <File Id="XIBRTB.BIN" Name="XIBRTB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRTB.BIN" />
          <File Id="R_SPA.DAT" Name="R_SPA.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_SPA.DAT" />
          <File Id="XISWDP.BIN" Name="XISWDP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISWDP.BIN" />
          <File Id="XIPRTC.BIN" Name="XIPRTC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIPRTC.BIN" />
          <File Id="XIITLS.BIN" Name="XIITLS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIITLS.BIN" />
          <File Id="XIITLB.BIN" Name="XIITLB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIITLB.BIN" />
          <File Id="XIBRZZ.BIN" Name="XIBRZZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRZZ.BIN" />
          <File Id="XIBRTC.BIN" Name="XIBRTC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRTC.BIN" />
          <File Id="russian.lng" Name="russian.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\russian.lng" />
          <File Id="port.lng" Name="port.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\port.lng" />
          <File Id="XIPRTD.BIN" Name="XIPRTD.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIPRTD.BIN" />
          <File Id="XINRWS.BIN" Name="XINRWS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XINRWS.BIN" />
          <File Id="XINRWB.BIN" Name="XINRWB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XINRWB.BIN" />
          <File Id="XIITLC.BIN" Name="XIITLC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIITLC.BIN" />
          <File Id="xigrmd.dmd" Name="xigrmd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xigrmd.dmd" />
          <File Id="XIBRTD.BIN" Name="XIBRTD.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRTD.BIN" />
          <File Id="R_GER.DAT" Name="R_GER.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_GER.DAT" />
          <File Id="R_CZH.DAT" Name="R_CZH.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_CZH.DAT" />
          <File Id="XISPNP.BIN" Name="XISPNP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISPNP.BIN" />
          <File Id="XIPRTE.BIN" Name="XIPRTE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIPRTE.BIN" />
          <File Id="XINRWC.BIN" Name="XINRWC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XINRWC.BIN" />
          <File Id="XIITLD.BIN" Name="XIITLD.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIITLD.BIN" />
          <File Id="XIGRMS.BIN" Name="XIGRMS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIGRMS.BIN" />
          <File Id="XIGRMB.BIN" Name="XIGRMB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIGRMB.BIN" />
          <File Id="XIFRNZ.BIN" Name="XIFRNZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFRNZ.BIN" />
          <File Id="Xiengz.bin" Name="Xiengz.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Xiengz.bin" />
          <File Id="XIDANP.BIN" Name="XIDANP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDANP.BIN" />
          <File Id="XIBRTE.BIN" Name="XIBRTE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRTE.BIN" />
          <File Id="R_DUT.DAT" Name="R_DUT.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_DUT.DAT" />
          <File Id="ErrMsg_eng.txt" Name="ErrMsg_eng.txt"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\ErrMsg_eng.txt" />
          <File Id="CYRILLIC.shp" Name="CYRILLIC.shp" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\CYRILLIC.shp" />
          <File Id="XISWDS.BIN" Name="XISWDS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISWDS.BIN" />
          <File Id="XISWDB.BIN" Name="XISWDB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISWDB.BIN" />
          <File Id="xispnd.dmd" Name="xispnd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xispnd.dmd" />
          <File Id="XINRWD.BIN" Name="XINRWD.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XINRWD.BIN" />
          <File Id="XIITLE.BIN" Name="XIITLE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIITLE.BIN" />
          <File Id="xiintd.dmd" Name="xiintd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xiintd.dmd" />
          <File Id="XIGRMC.BIN" Name="XIGRMC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIGRMC.BIN" />
          <File Id="XIFINP.BIN" Name="XIFINP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFINP.BIN" />
          <File Id="XIDUTZ.BIN" Name="XIDUTZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDUTZ.BIN" />
          <File Id="XISWDC.BIN" Name="XISWDC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISWDC.BIN" />
          <File Id="XINRWE.BIN" Name="XINRWE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XINRWE.BIN" />
          <File Id="XIGRMD.BIN" Name="XIGRMD.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIGRMD.BIN" />
          <File Id="xiczhd.dmd" Name="xiczhd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xiczhd.dmd" />
          <File Id="turkish.lng" Name="turkish.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\turkish.lng" />
          <File Id="XISWDD.BIN" Name="XISWDD.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISWDD.BIN" />
          <File Id="XISPNS.BIN" Name="XISPNS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISPNS.BIN" />
          <File Id="XISPNB.BIN" Name="XISPNB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISPNB.BIN" />
          <File Id="XIGRME.BIN" Name="XIGRME.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIGRME.BIN" />
          <File Id="XIDANS.BIN" Name="XIDANS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDANS.BIN" />
          <File Id="XIDANB.BIN" Name="XIDANB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDANB.BIN" />
          <File Id="TURKISH.shp" Name="TURKISH.shp" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\TURKISH.shp" />
          <File Id="R_ITA.DAT" Name="R_ITA.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_ITA.DAT" />
          <File Id="XISWDE.BIN" Name="XISWDE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISWDE.BIN" />
          <File Id="XISPNC.BIN" Name="XISPNC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISPNC.BIN" />
          <File Id="XIPRTZ.BIN" Name="XIPRTZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIPRTZ.BIN" />
          <File Id="XIFINS.BIN" Name="XIFINS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFINS.BIN" />
          <File Id="XIFINB.BIN" Name="XIFINB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFINB.BIN" />
          <File Id="XIDANC.BIN" Name="XIDANC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDANC.BIN" />
          <File Id="XIBRTZ.BIN" Name="XIBRTZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRTZ.BIN" />
          <File Id="CharSetTable.chr" Name="CharSetTable.chr"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\CharSetTable.chr" />
          <File Id="XISPND.BIN" Name="XISPND.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISPND.BIN" />
          <File Id="XIITLZ.BIN" Name="XIITLZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIITLZ.BIN" />
          <File Id="XIFINC.BIN" Name="XIFINC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFINC.BIN" />
          <File Id="XIDAND.BIN" Name="XIDAND.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDAND.BIN" />
          <File Id="XIBRZP.BIN" Name="XIBRZP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRZP.BIN" />
          <File Id="XISPNE.BIN" Name="XISPNE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISPNE.BIN" />
          <File Id="XINRWZ.BIN" Name="XINRWZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XINRWZ.BIN" />
          <File Id="XIFIND.BIN" Name="XIFIND.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFIND.BIN" />
          <File Id="XIDANE.BIN" Name="XIDANE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDANE.BIN" />
          <File Id="xibrzd.dmd" Name="xibrzd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xibrzd.dmd" />
          <File Id="lpdata.bin" Name="lpdata.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\lpdata.bin" />
          <File Id="german.lng" Name="german.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\german.lng" />
          <File Id="french.lng" Name="french.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\french.lng" />
          <File Id="dutch.lng" Name="dutch.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\dutch.lng" />
          <File Id="xiturd.dmd" Name="xiturd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xiturd.dmd" />
          <File Id="XIGRMZ.BIN" Name="XIGRMZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIGRMZ.BIN" />
          <File Id="XIFRNP.BIN" Name="XIFRNP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFRNP.BIN" />
          <File Id="XIFINE.BIN" Name="XIFINE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFINE.BIN" />
          <File Id="Xiengp.bin" Name="Xiengp.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Xiengp.bin" />
          <File Id="xiengd.dmd" Name="xiengd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xiengd.dmd" />
          <File Id="R_FRE.DAT" Name="R_FRE.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_FRE.DAT" />
          <File Id="Recogn.bct" Name="Recogn.bct" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Recogn.bct" />
          <File Id="LATIN1.shp" Name="LATIN1.shp" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\LATIN1.shp" />
          <File Id="Bold300.knb" Name="Bold300.knb" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Bold300.knb" />
          <File Id="BALTIC.shp" Name="BALTIC.shp" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\BALTIC.shp" />
          <File Id="XISWDZ.BIN" Name="XISWDZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISWDZ.BIN" />
          <File Id="XIDUTP.BIN" Name="XIDUTP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDUTP.BIN" />
          <File Id="XIBRZS.BIN" Name="XIBRZS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRZS.BIN" />
          <File Id="XIBRZB.BIN" Name="XIBRZB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRZB.BIN" />
          <File Id="vtdata.bin" Name="vtdata.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\vtdata.bin" />
          <File Id="LATIN2.shp" Name="LATIN2.shp" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\LATIN2.shp" />
          <File Id="xifrnd.dmd" Name="xifrnd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xifrnd.dmd" />
          <File Id="XIBRZC.BIN" Name="XIBRZC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRZC.BIN" />
          <File Id="spanish.lng" Name="spanish.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\spanish.lng" />
          <File Id="R_RUS.DAT" Name="R_RUS.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_RUS.DAT" />
          <File Id="english.lng" Name="english.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\english.lng" />
          <File Id="asciieng.lng" Name="asciieng.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\asciieng.lng" />
          <File Id="XISPNZ.BIN" Name="XISPNZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XISPNZ.BIN" />
          <File Id="XIFRNS.BIN" Name="XIFRNS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFRNS.BIN" />
          <File Id="XIFRNB.BIN" Name="XIFRNB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFRNB.BIN" />
          <File Id="Xiengs.bin" Name="Xiengs.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Xiengs.bin" />
          <File Id="xiengl.bin" Name="xiengl.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xiengl.bin" />
          <File Id="Xiengb.bin" Name="Xiengb.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Xiengb.bin" />
          <File Id="xidutd.dmd" Name="xidutd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xidutd.dmd" />
          <File Id="XIDANZ.BIN" Name="XIDANZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDANZ.BIN" />
          <File Id="XIBRZD.BIN" Name="XIBRZD.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRZD.BIN" />
          <File Id="XIPRTP.BIN" Name="XIPRTP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIPRTP.BIN" />
          <File Id="XIFRNC.BIN" Name="XIFRNC.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFRNC.BIN" />
          <File Id="XIFINZ.BIN" Name="XIFINZ.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIFINZ.BIN" />
          <File Id="Xiengc.bin" Name="Xiengc.bin" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Xiengc.bin" />
          <File Id="XIDUTS.BIN" Name="XIDUTS.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDUTS.BIN" />
          <File Id="XIDUTB.BIN" Name="XIDUTB.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIDUTB.BIN" />
          <File Id="XIBRZE.BIN" Name="XIBRZE.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRZE.BIN" />
          <File Id="XIBRTP.BIN" Name="XIBRTP.BIN" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\XIBRTP.BIN" />
          <File Id="Recogn24.bct" Name="Recogn24.bct" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\Recogn24.bct" />
          <File Id="recogn.set" Name="recogn.set" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\recogn.set" />
          <File Id="lpdata_russian.bin" Name="lpdata_russian.bin"  ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\lpdata_russian.bin" />
          <File Id="italian.lng" Name="italian.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\italian.lng" />
          <File Id="xiswdd.dmd" Name="xiswdd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xiswdd.dmd" />
          <File Id="danish.lng" Name="danish.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\danish.lng" />
          <File Id="finnish.lng" Name="finnish.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\finnish.lng" />
          <File Id="greek.lng" Name="greek.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\greek.lng" />
          <File Id="GREEK.shp" Name="GREEK.shp" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\GREEK.shp" />
          <File Id="hungar.lng" Name="hungar.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\hungar.lng" />
          <File Id="norsk.lng" Name="norsk.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\norsk.lng" />
          <File Id="polish.lng" Name="polish.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\polish.lng" />
          <File Id="R_CAT.DAT" Name="R_CAT.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_CAT.DAT" />
          <File Id="R_DAN.DAT" Name="R_DAN.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_DAN.DAT" />
          <File Id="R_FIN.DAT" Name="R_FIN.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_FIN.DAT" />
          <File Id="R_GRE.DAT" Name="R_GRE.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_GRE.DAT" />
          <File Id="R_HUN.DAT" Name="R_HUN.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_HUN.DAT" />
          <File Id="R_NOR.DAT" Name="R_NOR.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_NOR.DAT" />
          <File Id="R_POL.DAT" Name="R_POL.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_POL.DAT" />
          <File Id="R_SLN.DMD" Name="R_SLN.DMD" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_SLN.DMD" />
          <File Id="R_SWE.DAT" Name="R_SWE.DAT" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\R_SWE.DAT" />
          <File Id="swedish.lng" Name="swedish.lng" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\swedish.lng" />
          <File Id="xidand.dmd" Name="xidand.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xidand.dmd" />
          <File Id="xifind.dmd" Name="xifind.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xifind.dmd" />
          <File Id="xigred.dmd" Name="xigred.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xigred.dmd" />
          <File Id="xihund.dmd" Name="xihund.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xihund.dmd" />
          <File Id="xinrwd.dmd" Name="xinrwd.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xinrwd.dmd" />
          <File Id="xipold.dmd" Name="xipold.dmd" ReadOnly="yes" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\xipold.dmd" />
        </Component>
        <Component Id="TWSJIS32.dll" Guid="{A45E91C2-060D-4B2C-A877-2EEA5F955D9A}">
          <File Id="TWSJIS32.dll" Name="TWSJIS32.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\TWSJIS32.dll" />
        </Component>
        <Component Id="twpost32.dll" Guid="{B6A6115D-9C35-4A8D-ADCD-6B8CD2D00E0D}">
          <File Id="twpost32.dll" Name="twpost32.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twpost32.dll" />
        </Component>
        <Component Id="Asian.dll" Guid="{DBD431DB-F58C-4C70-A998-3D898875922A}">
          <File Id="Asian.dll" Name="Asian.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\Asian.dll" />
        </Component>
        <Component Id="twrecj.dll" Guid="{F69B3A29-6D49-4370-99D9-D8C16140EB11}">
          <File Id="twrecj.dll" Name="twrecj.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twrecj.dll" />
        </Component>
        <Component Id="twcutckr.dll" Guid="{AA160503-A037-403B-A2EA-74AB2EF066EC}">
          <File Id="twcutckr.dll" Name="twcutckr.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twcutckr.dll" />
        </Component>
        <Component Id="twreck.dll" Guid="{1BF2B412-9D97-473A-AADF-E8B934A2FF73}">
          <File Id="twreck.dll" Name="twreck.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twreck.dll" />
        </Component>
        <Component Id="TWLAYKR.dll" Guid="{5DDBCC50-E8BD-4C73-AC86-CA4E5656B110}">
          <File Id="TWLAYKR.dll" Name="TWLAYKR.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\TWLAYKR.dll" />
        </Component>
        <Component Id="TWForm.dll" Guid="{C0322007-043C-444B-A6E4-92455DA6E2ED}">
          <File Id="TWForm.dll" Name="TWForm.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\TWForm.dll" />
        </Component>
        <Component Id="twcutle.dll" Guid="{78443AE7-8986-4C5F-8767-81ABB8D215AD}">
          <File Id="twcutle.dll" Name="twcutle.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twcutle.dll" />
        </Component>
        <Component Id="twcutchr.dll" Guid="{45741D52-A7A4-4703-8827-80BC8F5B02C2}">
          <File Id="twcutchr.dll" Name="twcutchr.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twcutchr.dll" />
        </Component>
        <Component Id="twpostk.dll" Guid="{01C822FC-F18B-4F0C-BAB3-26148ED6A203}">
          <File Id="twpostk.dll" Name="twpostk.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twpostk.dll" />
        </Component>
        <Component Id="tworient.dll" Guid="{48BE4250-812A-4EFA-A5BE-BA623D296516}">
          <File Id="tworient.dll" Name="tworient.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\tworient.dll" />
        </Component>
        <Component Id="TWBIG532.dll" Guid="{4E55879F-4A7C-4D2C-AA00-1FD8CC2680B3}">
          <File Id="TWBIG532.dll" Name="TWBIG532.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\TWBIG532.dll" />
        </Component>
        <Component Id="twcutlin.dll" Guid="{1A2D9A0C-BA1A-403E-B4F9-9786002F3C1F}">
          <File Id="twcutlin.dll" Name="twcutlin.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twcutlin.dll" />
        </Component>
        <Component Id="THOCRAPI.DLL" Guid="{DEEE50F3-418E-4FD2-89CA-71AE2B0191A1}">
          <File Id="THOCRAPI.DLL" Name="THOCRAPI.DLL" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\THOCRAPI.DLL" />
        </Component>
        <Component Id="TWReverse.dll" Guid="{D63BD4EF-F1CB-4321-8988-643B4C60FA0C}">
          <File Id="TWReverse.dll" Name="TWReverse.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\TWReverse.dll" />
        </Component>
        <Component Id="twcutlkr.dll" Guid="{820CCD90-79DB-431F-AF70-D372DF5289B3}">
          <File Id="twcutlkr.dll" Name="twcutlkr.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twcutlkr.dll" />
        </Component>
        <Component Id="twstruct.dll" Guid="{ABF25CBB-5693-48F4-80A9-9CC6A390CAAD}">
          <File Id="twstruct.dll" Name="twstruct.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twstruct.dll" />
        </Component>
        <Component Id="twrecs.dll" Guid="{A4302A3F-B058-458F-9162-A50D589BEA9E}">
          <File Id="twrecs.dll" Name="twrecs.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twrecs.dll" />
        </Component>
        <Component Id="twksc32.dll" Guid="{41708868-62C4-4C09-9794-0ED2083D3BEB}">
          <File Id="twksc32.dll" Name="twksc32.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twksc32.dll" />
        </Component>
        <Component Id="twrecc.dll" Guid="{55999E15-9274-4709-97C8-2682AA7C8F44}">
          <File Id="twrecc.dll" Name="twrecc.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twrecc.dll" />
        </Component>
        <Component Id="TWLAY32.dll" Guid="{834B20C2-A76A-40C9-B7BC-3A1482FB91BE}">
          <File Id="TWLAY32.dll" Name="TWLAY32.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\TWLAY32.dll" />
        </Component>
        <Component Id="twrece.dll" Guid="{4EC5552B-7A51-4751-BBA8-4C844E5D2C9D}">
          <File Id="twrece.dll" Name="twrece.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\twrece.dll" />
        </Component>
        <Component Id="TWGB32.dll" Guid="{D9C7DFB4-FC5E-4339-A608-4A50DC8ACBD0}">
          <File Id="TWGB32.dll" Name="TWGB32.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\TWGB32.dll" />
        </Component>
        <Component Id="NuanceLS.exe" Guid="{85884BC1-A447-49DB-A156-CAC2CBD22DB3}">
          <File Id="NuanceLS.exe" Name="NuanceLS.exe" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\NuanceLS.exe" />
          <File Id="NuanceLS.exe.config" Name="NuanceLS.exe.config"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\NuanceLS.exe.config" />
        </Component>
        <Component Id="MrcR3_1s.dll" Guid="{97281ED7-7980-4BD8-B693-26C0F89F77FB}">
          <File Id="MrcR3_1s.dll" Name="MrcR3_1s.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\MrcR3_1s.dll" />
        </Component>
        <Component Id="NLSCH_1_1.dll" Guid="{757576C8-29FC-438E-B06C-A2755209E08F}">
          <File Id="NLSCH_1_1.dll" Name="NLSCH_1_1.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\NLSCH_1_1.dll" />
        </Component>
        <Component Id="NLSCH_1_0.dll" Guid="{46B6924A-3DD9-4AD5-ABEB-63AFFA0F534C}">
          <File Id="NLSCH_1_0.dll" Name="NLSCH_1_0.dll" KeyPath="yes"  Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\NLSCH_1_0.dll" />
        </Component>
        <Component Id="NLUtils.dll" Guid="{3CF02515-7B4A-44FD-A8D2-2BEB6F6ECB7F}">
          <File Id="NLUtils.dll" Name="NLUtils.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\NLUtils.dll" />
        </Component>
        <Component Id="LMQuery.dll" Guid="{A078A61B-1BC5-475D-A5EA-7B21BEAD3749}">
          <File Id="LMQuery.dll" Name="LMQuery.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\LMQuery.dll" />
        </Component>
        <Component Id="ICHUNW32.dll" Guid="{3B52FEC6-67FB-44B1-B5BE-AFF29C34419D}">
          <File Id="ICHUNW32.dll" Name="ICHUNW32.dll" KeyPath="yes" Vital="no" Checksum="yes" DiskId="1" Source="$(var.SourceFiles)\File\ICHUNW32.dll" />
        </Component>
      </ComponentGroup>
  </Fragment>
</Wix>