<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="StartMenuShortcuts" Directory="GFI_FAXmaker_StartMenu">
      <Component Id="UninstConnectorShortcut" Guid="{7EE2CCE6-2ED3-40DB-BCF9-BC9B18BD30E7}" KeyPath="yes">
        <Condition>(REMOTEMONITOR&lt;&gt;1) AND (FAXSERVER&lt;&gt;1) AND (EXCHANGECONNECTOR=1)</Condition>
        <Shortcut Id="Uninstall_FAXmaker_SMTP_Connector" Directory="GFI_FAXmaker_StartMenu" Name="(!loc.IDS_STARTMENU_UNINSTCONNNAME)"  Target="[SystemFolder]\msiexec.exe" Description="(!loc.IDS_STARTMENU_UNINSTCONNDESC)" Arguments="/L*v &quot;%temp%\uninstall.log&quot; /X{1F69A3C6-0CF0-4DEB-8699-A4897021F90B}" Hotkey="0" IconIndex="0" Show="normal" />
<!--    <RemoveFolder  Id="GFI_FAXmaker_StartMenu" On="uninstall"/> -->
      </Component>

      <Component Id="MonitorAndQSGShortcuts" Guid="{7ED70C71-8DD7-477C-BFD8-2844D6BE1730}" KeyPath="yes">
        <Condition>FAXSERVER=1 OR REMOTEMONITOR=1</Condition>
        <File Id="GFI_Knowledge_Base.url" Name="GFI Knowledge Base.url" Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\GFI_Knowledge_Base.url" />
        <File Id="GFI_Website.url" Name="GFI Website.url"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\GFI_Website.url" />
        <File Id="GFI_Support_Page.url" Name="GFI Support Page.url"  Vital="no" DiskId="1" Source="$(var.SourceFiles)\File\GFI_Support_Page.url" />

        <Shortcut Id="FAXmaker_Monitor" Target="[INSTALLDIR]fm_mon.msc" Directory="GFI_FAXmaker_StartMenu" Name="!(loc.IDS_STARTMENU_MONNAME)"  Description="!(loc.IDS_STARTMENU_MONDESC)" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
        <Shortcut Id="Uninstall_FAXmaker" Directory="GFI_FAXmaker_StartMenu" Name="!(loc.IDS_STARTMENU_UNINSTFMNAME)"  Target="[SystemFolder]\msiexec.exe" Description="!(loc.IDS_STARTMENU_UNINSTFMDESC)" Arguments="/L*v &quot;%temp%\uninstall.log&quot; /X{1F69A3C6-0CF0-4DEB-8699-A4897021F90B}" Hotkey="0" IconIndex="0" Show="normal" />
        <Shortcut Id="GFI_FAXmaker_Quick_Start_Guide" Target="[INSTALLDIR]qsg\fax-qsg.html" Directory="GFI_FAXmaker_StartMenu" Name="!(loc.IDS_STARTMENU_QSGNAME)"  Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />

        <RemoveFolder Id="GFI_FAXmaker_StartMenu" On="uninstall"/>
      </Component>

      <Component Id="ConfigShortcuts" Guid="{ADEB0B1F-59AE-49af-A153-E1F716D943FD}" KeyPath="yes">
        <Condition>FAXSERVER=1</Condition>
        <Shortcut Id="FAXmaker_Configuration" Target="[INSTALLDIR]fmconfig.msc" Directory="GFI_FAXmaker_StartMenu" Name="!(loc.IDS_STARTMENU_CONFIGNAME)"  Description="!(loc.IDS_STARTMENU_CONFIGDESC)" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
        <Shortcut Id="FAXmaker_Configuration_Wizard" Target="[INSTALLDIR]initcfgwiz.exe" Directory="GFI_FAXmaker_StartMenu" Name="!(loc.IDS_STARTMENU_CFGWIZNAME)"  Description="!(loc.IDS_STARTMENU_CFGWIZDESC)" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
        <Shortcut Id="GFI_TroubleShooter" Target="[INSTALLDIR]trouble.exe" Directory="GFI_FAXmaker_StartMenu" Name="!(loc.IDS_STARTMENU_TROUBLENAME)"  Description="!(loc.IDS_STARTMENU_TROUBLENAME)" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
      </Component>      
    </ComponentGroup>

    <Component Id="StartMenuManualShortcuts" Directory="StartMenuDocumentation" Guid="{F19AD61F-E15A-4DA9-A3FB-F334189925F6}" KeyPath="yes">
      <Condition>FAXSERVER=1</Condition>
      <Shortcut Id="FAXmaker_Help" Target="[INSTALLDIR]faxmakermanual.chm" Name="!(loc.IDS_STARTMENU_MAINHELPNAME)"  Description="!(loc.IDS_STARTMENU_MAINHELPDESC)" Hotkey="0" IconIndex="0" Show="normal"/>
      <Shortcut Id="API_Manual" Target="[INSTALLDIR]apimanual.chm" Name="!(loc.IDS_STARTMENU_APIHELPNAME)"  Hotkey="0" IconIndex="0" Show="normal" />
      <Shortcut Id="Fax_Device_Installation" Target="[INSTALLDIR]faxdeviceinstall.chm" Name="!(loc.IDS_STARTMENU_FDIHELPNAME)"  Hotkey="0" IconIndex="0" Show="normal"/>
      <RemoveFolder Id="StartMenuDocumentation" On="uninstall"/>
    </Component>
  </Fragment>
</Wix>