<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
		<section name="mbuilder" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>
	<appSettings>
		<!-- To enable internal log4net logging specify the following appSettings key -->
		<!--<add key="log4net.Internal.Debug" value="true"/>-->
	</appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="debug.log.txt"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="5242880"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Start]
Date [ThreadID] Level Logger - Message
"/>
				<footer value="[End]
"/>
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline"/>
			</layout>
		</appender>
		<!-- logger settings for the rest -->
		<root>
			<level value="INFO"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>
	<mbuilder>
		<setup>
			<debug enabled="true"/>
			<!--asyncbuilders count="${system.processorcount}"/-->
			<asyncbuilders count="1" />
		</setup>
		<builders>
			<commandlinebuilder>
				<binplace enabled="true" file="binplace_fm.text" root="${build.directory}" location="%ddkroot%\bin\x86\binplace.exe"/>
				<frameworks>
					<framework name="cs" cmdlet="${build.directory}build_cs.cmd" args="${project.file} &quot;${project.buildopts}&quot;"/>
					<framework name="vc6" cmdlet="${build.directory}build_vc6.cmd" args="${project.file}"/>
					<framework name="vc71" cmdlet="${build.directory}build_vc71.cmd" args="${project.file} &quot;${project.buildopts}&quot;"/>
					<framework name="vc8" cmdlet="${build.directory}build_vc8.cmd" args="${project.file} ${project.buildopts}"/>
					<framework name="ddk" cmdlet="${build.directory}build_ddk.cmd" args="${project.file} ${project.buildopts}"/>
					<framework name="rc" cmdlet="${build.directory}build_rc.cmd" args="${project.file} ${project.buildopts}"/>
				</frameworks>
			</commandlinebuilder>
		</builders>
	</mbuilder>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
