<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="AdminInstallBrowse_UI">
      <Dialog Id="AdminInstallBrowse" X="50" Y="50" Width="348" Height="193" Title="[ProductName] Browse Page">
        <Control Id="TailText" Type="Text" X="9" Y="151" Width="55" Height="14" Text="&amp;Selected path:" TabSkip="no" />
        <Control Id="Tail" Type="PathEdit" X="65" Y="147" Width="212" Height="18" Property="TARGETDIR" TabSkip="no" />
        <Control Id="OK" Type="PushButton" X="282" Y="148" Width="56" Height="17" Text="OK" TabSkip="no" Default="yes">
          <Publish Event="SetTargetPath" Value="TARGETDIR">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="282" Y="169" Width="56" Height="17" Text="Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="Reset" Value="0">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="ComboText" Type="Text" X="10" Y="13" Width="65" Height="15" Text="&amp;Location of folder:" TabSkip="no" />
        <Control Id="Combo" Type="DirectoryCombo" X="85" Y="11" Width="208" Height="80" Property="TARGETDIR" TabSkip="no" Removable="yes" Fixed="yes" Remote="yes" />
        <Control Id="Up" Type="PushButton" X="300" Y="9" Width="17" Height="17" Text="Up" ToolTip="Go to parent folder" TabSkip="no" IconSize="16" FixedSize="yes" Icon="yes">
          <Publish Event="DirectoryListUp" Value="0">1</Publish>
        </Control>
        <Control Id="NewFolder" Type="PushButton" X="320" Y="9" Width="17" Height="17" Text="New" ToolTip="Create new folder" TabSkip="no" IconSize="16" FixedSize="yes" Icon="yes">
          <Publish Event="DirectoryListNew" Value="0">1</Publish>
        </Control>
        <Control Id="List" Type="DirectoryList" X="8" Y="29" Width="330" Height="115" Property="TARGETDIR" TabSkip="no" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>