<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="CCPDialog_UI">
      <Dialog Id="CCPDialog" X="50" Y="50" Width="444" Height="240" Title="Product Compliance Check">
        <Control Id="Drive" Type="VolumeSelectCombo" X="123" Y="62" Width="303" Height="125" Property="CCP_DRIVE" TabSkip="no" CDROM="yes" Floppy="yes" />
        <Control Id="Cancel" Type="PushButton" X="361" Y="210" Width="70" Height="18" Text="Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="OK" Type="PushButton" X="276" Y="210" Width="70" Height="18" Text="&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="DriveText" Type="Text" X="122" Y="50" Width="41" Height="12" Text="Drive:" TabSkip="no" />
        <Control Id="Text" Type="Text" X="120" Y="24" Width="291" Height="27" Text="Setup failed to locate a qualifying product on your hard drive(s). Please select the drive that contains the qualifying product." TabSkip="yes" />
        <Control Id="Previous" Type="PushButton" X="206" Y="210" Width="70" Height="18" Text="&lt; &amp;Back" TabSkip="yes" Disabled="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>