<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="Exit_Dialog_UI">
      <Dialog Id="Exit_Dialog" X="50" Y="50" Width="375" Height="270" Title="[ProductName] Setup">
        <Control Id="OK" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="&amp;Finish" TabSkip="no" Default="yes">
          <Publish Event="DoAction" Value="fmfaxapi"><![CDATA[BIT=32 AND USEOUTLOOKFORM<>"1" AND NOT Uninstall]]></Publish>
          <Publish Event="DoAction" Value="fmstart"><![CDATA[BIT=32 AND NOT Uninstall]]></Publish>
          <Publish Property="TELLMEMOREURL" Value="http://go.gfi.com/?pageid=FM_WhatToDoNext">ONLINE="0"</Publish>
          <Publish Property="TELLMEMOREURL" Value="http://go.gfi.com/?pageid=FMO_WhatToDoNext">ONLINE="1"</Publish>
          <Publish Event="DoAction" Value="opentellmemore">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="PushButton" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="&lt; &amp;Back" TabSkip="no">
          <Condition Action="disable">1</Condition>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="PushButton1" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="Cancel" TabSkip="no">
          <Condition Action="disable">1</Condition>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="136" Y="6" Width="227" Height="53" Text="{&amp;Arial14}[ProductName] has been successfully installed.&#xD;&#xA;" TabSkip="yes" Transparent="yes">
          <Condition Action="hide">Uninstall</Condition>
        </Control>
        <Control Id="Bitmap31" Type="Bitmap" X="0" Y="0" Width="375" Height="234" Text="side16" TabSkip="yes" Disabled="yes" />
        <Control Id="Line11" Type="Line" X="0" Y="234" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Text56" Type="Text" X="136" Y="6" Width="227" Height="53" Text="{&amp;Arial14}[ProductName] has been successfully uninstalled." TabSkip="yes" Transparent="yes">
          <Condition Action="hide">NOT Uninstall</Condition>
        </Control>
        <Control Id="Text6" Type="Text" X="136" Y="60" Width="227" Height="38" Text="Click the Finish button to exit this installation." TabSkip="yes" Transparent="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>