<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Property Id="FeaturesReference" Value="1"/>
    
    <Feature Id="always" Absent="disallow" AllowAdvertise="system" ConfigurableDirectory="INSTALLDIR" Display="hidden" Level="1" Title="always">
      <ComponentRef Id="CreateFolder" />
      <ComponentRef Id="SendFax.exe" />
      <ComponentRef Id="IniFileRegNT4OUTLOOK1" />
      <ComponentRef Id="IniFileRegNT4ALL_mntr" />
      <ComponentRef Id="SMTPRegMode3" />
      <ComponentRef Id="SMTPRegMode2" />
      <ComponentRef Id="IniFileRegNT4ALL" />
      <ComponentRef Id="IniFileRegNT4OUTLOOK0" />
      <ComponentRef Id="IniFileRegNT4MAPI" />
      <ComponentRef Id="IniFileRegNT4SMTP" />
      <ComponentRef Id="getemail.vbs" />
      <ComponentRef Id="smtpregistry" />
      <ComponentRef Id="gfimntr.ini" />
      <ComponentRef Id="RegOnlineSender" />
      <ComponentRef Id="registry2" />
      <ComponentRef Id="viewer.exe" />
      <ComponentRef Id="stmp32.dll" />
      <ComponentRef Id="img32vi.dll" />
      <ComponentRef Id="img32qq.dll" />
      <ComponentRef Id="img32an.dll" />
      <ComponentRef Id="PROCHOOK.DLL" />
      <ComponentRef Id="faxmaker.drv" />
      <ComponentRef Id="RASDDUI.HLP" />
      <ComponentRef Id="RASDDUI.DLL" />
      <ComponentRef Id="RASDD.DLL" />
      <ComponentRef Id="FAXMAKER.DLL" />
      <ComponentRef Id="prntinst.dll" />
      <ComponentRef Id="msvcrt.dll" />
      <ComponentRef Id="mfc42.dll" />
      <ComponentRef Id="trouble.exe" />
      <ComponentRef Id="trb_ext.dll" />
      <ComponentRef Id="sendfxpb.exe" />
      <ComponentRef Id="gfi_ver.exe" />
      <ComponentRef Id="fmfaxapi.exe" />
      <ComponentRef Id="fmaddrbk.dll" />
      <ComponentRef Id="Tiff32.dll" />
      <ComponentRef Id="gfi_log.dll" />
      <ComponentRef Id="fmcmn_rc.dll" />
      <ComponentRef Id="registry" />
      <ComponentRef Id="shortcuts_english_oulook" />
      <ComponentRef Id="registrykey.ini" />
      <ComponentRef Id="faxmaker.inf" />
      <ComponentRef Id="troubleres.dll_turkish" />
      <ComponentRef Id="troubleres.dll_russian" />
      <ComponentRef Id="troubleres.dll_hungarian" />
      <ComponentRef Id="troubleres.dll_czech" />
      <ComponentRef Id="troubleres.dll_polish" />
      <ComponentRef Id="ofs.cgw" />
      <ComponentRef Id="troubleres.dll_italian" />
      <ComponentRef Id="troubleres.dll_spanish" />
      <ComponentRef Id="troubleres.dll_german" />
      <ComponentRef Id="troubleres.dll_arabic" />
      <ComponentRef Id="SMTPRegDomains" />
      <ComponentRef Id="fmstart.exe" />
      <ComponentRef Id="viewerres.dll_czech" />
      <ComponentRef Id="inimapi" />
      <ComponentRef Id="inismtp" />
      <ComponentRef Id="viewerres.dll_hungarian" />
      <ComponentRef Id="viewerres.dll_russian" />
      <ComponentRef Id="viewerres.dll_polish" />
      <ComponentRef Id="viewerres.dll_turkish" />
      <ComponentRef Id="viewerres.dll_arabic" />
      <ComponentRef Id="sendfxpbres.dll_czech" />
      <ComponentRef Id="sendfxpbres.dll_russian" />
      <ComponentRef Id="sendfxpbres.dll_turkish" />
      <ComponentRef Id="sendfxpbres.dll_hungarian" />
      <ComponentRef Id="RegOnline" />
      <ComponentRef Id="shortcuts_non_online" />
      <ComponentRef Id="shortcuts_non_outlook" />
      <ComponentRef Id="inimappings" />
      <ComponentRef Id="viewerres.dll_english" />
      <ComponentRef Id="sendfxpbres.dll_english" />
      <ComponentRef Id="SendFaxRes.dll_english" />
      <ComponentRef Id="sendfxpbres.dll_italian" />
      <ComponentRef Id="viewerres.dll_italian" />
      <ComponentRef Id="SendFaxRes.dll_italian" />
      <ComponentRef Id="sendfxpbres.dll_french" />
      <ComponentRef Id="sendfxpbres.dll_polish" />
      <ComponentRef Id="viewerres.dll_french" />
      <ComponentRef Id="sendfxpbres.dll_arabic" />
      <ComponentRef Id="SendFaxRes.dll_french" />
      <ComponentRef Id="sendfxpbres.dll_spanish" />
      <ComponentRef Id="viewerres.dll_spanish" />
      <ComponentRef Id="SendFaxRes.dll_spanish" />
      <ComponentRef Id="fmp_drv.ini" />
      <ComponentRef Id="fmp_drv.dll" />
      <ComponentRef Id="insthlps_dll" />
      <ComponentRef Id="sendfxpbres.dll_german" />
      <ComponentRef Id="opnfrm32.exe" />
      <ComponentRef Id="utf8_slayer.dll" />
      <ComponentRef Id="cdosmtp.cgw" />
      <ComponentRef Id="faxclient.chm_german" />
      <ComponentRef Id="fmp_invertpixels" />
      <ComponentRef Id="SendFaxRes.dll_hungarian" />
      <ComponentRef Id="SendFaxRes.dll_russian" />
      <ComponentRef Id="SendFaxRes.dll_turkish" />
      <ComponentRef Id="SendFaxRes.dll_czech" />
      <ComponentRef Id="SendFaxRes.dll_polish" />
      <ComponentRef Id="faxclient.chm_italian" />
      <ComponentRef Id="SendFaxRes.dll_arabic" />
      <ComponentRef Id="faxclient.chm_spanish" />
      <ComponentRef Id="libtiff.dll" />
      <ComponentRef Id="faxclient.chm_french" />
      <ComponentRef Id="SendFaxRes.dll_german" />
      <ComponentRef Id="faxclient.chm_english" />
      <ComponentRef Id="viewerres.dll_german" />
      <ComponentRef Id="fmprinter_uninstall_cmd" />
      <ComponentRef Id="fmprinter_install_cmd" />
      <ComponentRef Id="fmoclient.chm_english" />
      <ComponentRef Id="FMOAccountValidate.dll" />
      <ComponentRef Id="faxclient.chm_arabic" />
      <ComponentRef Id="faxclient.chm_czech" />
      <ComponentRef Id="faxclient.chm_russian" />
      <ComponentRef Id="faxclient.chm_polish" />
      <ComponentRef Id="faxclient.chm_turkish" />
      <ComponentRef Id="faxclient.chm_hungarian" />
      <ComponentRef Id="troubleres.dll_english" />
      <ComponentRef Id="FMOnlineClient" />
      <ComponentRef Id="GFI.Common.Tracing" />
      <ComponentRef Id="ssleay32.dll" />
      <ComponentRef Id="libeay32.dll" />
      <ComponentRef Id="msvcr90.dll" />
      <ComponentRef Id="msvcp90.dll" />
      <ComponentRef Id="msvcm90.dll" />
      <ComponentRef Id="RegOFSCredentials" />
    </Feature>
    <Feature Id="Complete" Absent="disallow" AllowAdvertise="system" ConfigurableDirectory="INSTALLDIR" Level="3" Title="Complete">
      <ComponentRef Id="IniFileRegNT4OUTLOOK1" />
      <ComponentRef Id="IniFileRegNT4ALL_mntr" />
      <ComponentRef Id="SMTPRegMode3" />
      <ComponentRef Id="SMTPRegMode2" />
      <ComponentRef Id="IniFileRegNT4ALL" />
      <ComponentRef Id="IniFileRegNT4OUTLOOK0" />
      <ComponentRef Id="IniFileRegNT4MAPI" />
      <ComponentRef Id="IniFileRegNT4SMTP" />
      <ComponentRef Id="getemail.vbs" />
      <ComponentRef Id="smtpregistry" />
      <ComponentRef Id="gfimntr.ini" />
    </Feature>
	</Fragment>
</Wix>