<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="FirstRun_UI">
      <Dialog Id="FirstRun" X="50" Y="50" Width="375" Height="270" Title="[ProductName] Identity Dialog">
        <Control Id="NameQ" Type="Text" X="12" Y="12" Width="80" Height="18" Text="{\TimesItalicBlue10}N&amp;ame:" TabSkip="no" />
        <Control Id="NameE" Type="Edit" X="100" Y="12" Width="234" Height="19" Property="USERNAME" Text="{47}" TabSkip="no" />
        <Control Id="OrgQ" Type="Text" X="12" Y="40" Width="80" Height="18" Text="{\TimesItalicBlue10}&amp;Organization:" TabSkip="no" />
        <Control Id="OrgE" Type="Edit" X="100" Y="40" Width="234" Height="20" Property="COMPANYNAME" Text="{53}" TabSkip="no" />
        <Control Id="PIDQ" Type="Text" X="12" Y="70" Width="321" Height="21" Text="{\TimesItalicBlue10}Please, enter the product &amp;ID found on your CD box." TabSkip="no">
          <Condition Action="hide">ProductID</Condition>
        </Control>
        <Control Id="PIDE" Type="MaskedEdit" X="12" Y="90" Width="320" Height="15" Property="PIDKEY" Text="[PIDTemplate]" TabSkip="no">
          <Condition Action="hide">ProductID</Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="&lt; &amp;Back" TabSkip="no" Disabled="yes" />
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Event="ValidateProductID" Value="0">1</Publish>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>