<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="fmmessageform_UI">
      <Dialog Id="fmmessageform" X="50" Y="50" Width="375" Height="270" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Property="USEOUTLOOKFORM" Value="[USEOUTLOOKFORM]">1</Publish>
          <Publish Event="NewDialog" Value="fmserverdetails">(USEOUTLOOKFORM=0 OR USEOUTLOOKFORM=2) AND ONLINE=0</Publish>
          <Publish Event="NewDialog" Value="smtpauthform">(USEOUTLOOKFORM=0 OR USEOUTLOOKFORM=2) AND ONLINE=1 AND MAILAUTHENTICATION="1" AND MAILSERVER</Publish>
          <Publish Event="DoAction" Value="CostFinalize">(Version9x OR BIT=16) AND USEOUTLOOKFORM=1</Publish>
          <Publish Event="NewDialog" Value="Single_Feature_Destination">USEOUTLOOKFORM=1 OR ONLINE=1</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="&lt; &amp;Back" TabSkip="no">
          <Publish Event="NewDialog" Value="IntegrationType">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        
        <Control Id="CheckBox" Type="CheckBox" X="40" Y="181" Width="310" Height="21" Text="Use Outlook address book with GFI FaxMaker New Fax form" TabSkip="yes" Property="USEOUTLOOKADDRESSBOOK" CheckBoxValue="1">
          <Condition Action="disable">USEOUTLOOKFORM="1"</Condition>
          <Condition Action="enable"><![CDATA[USEOUTLOOKFORM<>"1"]]></Condition>
        </Control>
        
        <Control Id="CustomText" Type="Text" X="40" Y="55" Width="282" Height="33" Text="Would you like the GFI FaxMaker Printer Driver to use the Outlook New Message form or the GFI FaxMaker New Fax Message form to send faxes?" TabSkip="yes" />
        <Control Id="Line7" Type="Line" X="94" Y="234" Width="281" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="RadioButtonGroup" Type="RadioButtonGroup" X="40" Y="90" Width="325" Height="71" Property="USEOUTLOOKFORM" TabSkip="yes" />
        <Control Id="Text19" Type="Text" X="23" Y="23" Width="297" Height="14" Text="Select which message form to use." TabSkip="yes" Transparent="yes" />
        <Control Id="Line17" Type="Line" X="0" Y="44" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Bitmap23" Type="Bitmap" X="0" Y="0" Width="375" Height="44" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text18" Type="Text" X="8" Y="8" Width="290" Height="13" Text="[DIALOG_TITLE_FONT_DEFAULT]Message Form" TabSkip="yes" Transparent="yes" />
        <Control Id="Text20" Type="Text" X="2" Y="230" Width="92" Height="12" Text="[GFITM]&#xD;&#xA;" TabSkip="yes" />
        <Control Id="Text2521" Type="Text" X="53" Y="204" Width="299" Height="20" Text="(requires Outlook to be the default mail client)&#xD;&#xA;" TabSkip="yes">
          <Condition Action="disable">USEOUTLOOKFORM="1"</Condition>
          <Condition Action="enable"><![CDATA[USEOUTLOOKFORM<>"1"]]></Condition>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>