<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="FMONoEmailDlg_UI">
      <Dialog Id="FMONoEmailDlg" X="50" Y="50" Width="183" Height="105" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="Cancel" Type="PushButton" X="59" Y="77" Width="56" Height="17" Text="OK&#xD;&#xA;" TabSkip="no" Cancel="yes">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="17" Y="27" Width="149" Height="28" Text="Please specify your email address." TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>