<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="FMOResetPassword_UI">
      <Dialog Id="FMOResetPassword" X="50" Y="50" Width="265" Height="105" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="Cancel" Type="PushButton" X="93" Y="77" Width="56" Height="17" Text="OK" TabSkip="no" Cancel="yes">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="CustomText" Type="Text" X="13" Y="19" Width="231" Height="36" Text="An email has been sent to [ONLINEEMAIL] containing your GFI FaxMaker Online credentials.&#xD;&#xA;" TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>