<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="fmserverdetails_UI">
      <RadioButtonGroup Property="DETAILSTYPE">
        <RadioButton Height="14" Text="[DETAILSEXCHANGE]" Value="1" Width="284" X="0" Y="0" />
        <RadioButton Height="14" Text="[DETAILSLOTUS]" Value="2" Width="284" X="0" Y="14" />
        <RadioButton Height="14" Text="[DETAILSISP]" Value="3" Width="284" X="0" Y="28" />
      </RadioButtonGroup>
      
      <Dialog Id="fmserverdetails" X="50" Y="50" Width="375" Height="270" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Event="SpawnDialog" Value="invalidserver">EXNAME="" OR ((EXNAME="" OR FAXMAILBOXEDIT="") AND DETAILSTYPE="2") </Publish>
          <Publish Property="INSTALLTYPE" Value="2">DETAILSTYPE="1" OR DETAILSTYPE="3"</Publish>
          <Publish Property="INSTALLTYPE" Value="3">DETAILSTYPE="2"</Publish>
          <Publish Property="FAXMAILBOX" Value="null"><![CDATA[DETAILSTYPE<>"2"]]></Publish>
          <Publish Property="FAXMAILBOX" Value="[FAXMAILBOXEDIT]">DETAILSTYPE="2"</Publish>
          <Publish Property="MAILSERVER" Value="[EXNAME]">DETAILSTYPE="2" OR DETAILSTYPE="1"</Publish>
          <Publish Property="FAXSERVER" Value="[EXNAME]">DETAILSTYPE="3"</Publish>
          <Publish Property="MAILSERVER" Value="null">DETAILSTYPE="3"</Publish>
          <Publish Property="FAXSERVER" Value="null"><![CDATA[DETAILSTYPE<>"3"]]></Publish>
          <Publish Event="DoAction" Value="CostFinalize">Version9x OR BIT=16</Publish>
          <Publish Event="NewDialog" Value="Single_Feature_Destination"><![CDATA[(EXNAME<>"" AND DETAILSTYPE<>"2") OR (DETAILSTYPE="2" AND FAXMAILBOXEDIT<>"" AND EXNAME<>"") AND (BIT=16 OR MAILAUTH<>"1")]]></Publish>
          <Publish Event="NewDialog" Value="smtpauthform"><![CDATA[VersionNT>=500 AND MAILAUTHENTICATION="1"]]></Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="&lt; &amp;Back" TabSkip="no">
          <Publish Event="NewDialog" Value="fmmessageform">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="RadioButtonGroup" Type="RadioButtonGroup" X="55" Y="105" Width="284" Height="46" Property="DETAILSTYPE" TabSkip="no" />
        <Control Id="Edit" Type="Edit" X="158" Y="153" Width="152" Height="17" Property="EXNAME" TabSkip="no" />
        <Control Id="Edit1" Type="Edit" X="158" Y="175" Width="152" Height="17" Property="FAXMAILBOXEDIT" TabSkip="no">
          <Condition Action="disable"><![CDATA[DETAILSTYPE<>"2"]]></Condition>
          <Condition Action="enable">DETAILSTYPE="2"</Condition>
        </Control>
        <Control Id="Text" Type="Text" X="37" Y="156" Width="120" Height="12" Text="Mail server name:" TabSkip="yes" RightAligned="yes">
          <Condition Action="show"><![CDATA[DETAILSTYPE<>"3"]]></Condition>
          <Condition Action="hide">DETAILSTYPE="3"</Condition>
        </Control>
        <Control Id="CheckBox" Type="CheckBox" X="55" Y="198" Width="251" Height="14" Text="My mail server requires authentication" TabSkip="yes" Property="MAILAUTHENTICATION" CheckBoxValue="1">
          <Condition Action="hide"><![CDATA[BIT=16 OR VersionNT<500]]></Condition>
        </Control>
        <Control Id="CustomText" Type="Text" X="40" Y="63" Width="268" Height="39" Text="Please specify the details depending on what mail server you are using and how you want the faxes to be delivered to GFI FaxMaker." TabSkip="yes" />
        <Control Id="Text2" Type="Text" X="36" Y="178" Width="119" Height="12" Text="Fax mailbox:&#xD;&#xA;" TabSkip="yes" RightAligned="yes" />
        <Control Id="Line7" Type="Line" X="94" Y="234" Width="281" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Text3" Type="Text" X="29" Y="156" Width="128" Height="12" Text="Fax server name:&#xD;&#xA;" TabSkip="yes" RightAligned="yes">
          <Condition Action="show">DETAILSTYPE="3"</Condition>
          <Condition Action="hide"><![CDATA[DETAILSTYPE<>"3"]]></Condition>
        </Control>
        <Control Id="Text19" Type="Text" X="23" Y="23" Width="303" Height="14" Text="Specify GFI FaxMaker server details&#xD;&#xA;" TabSkip="yes" Transparent="yes" />
        <Control Id="Line17" Type="Line" X="0" Y="44" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Bitmap23" Type="Bitmap" X="0" Y="0" Width="375" Height="44" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text18" Type="Text" X="8" Y="8" Width="302" Height="13" Text="[DIALOG_TITLE_FONT_DEFAULT]GFI FaxMaker Server Details&#xD;&#xA;" TabSkip="yes" Transparent="yes" />
        <Control Id="Text20" Type="Text" X="2" Y="230" Width="92" Height="12" Text="[GFITM]&#xD;&#xA;" TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>