<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="invalidserver_UI">
      <Dialog Id="invalidserver" X="50" Y="50" Width="270" Height="102" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="Next" Type="PushButton" X="107" Y="70" Width="56" Height="17" Text="OK" TabSkip="no" Default="yes">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="CustomText" Type="Text" X="37" Y="23" Width="197" Height="32" Text="All enabled fields are required. Please ensure you have specified all the necessary information and try again." TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>