<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="License_Dialog_UI">
      <Dialog Id="License_Dialog" X="50" Y="50" Width="375" Height="270" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="Group" Type="RadioButtonGroup" X="121" Y="204" Width="211" Height="41" Property="Accept" TabSkip="no" />
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="&amp;Next &gt;" TabSkip="no">
          <Condition Action="disable"><![CDATA[Accept<>"Yes"]]></Condition>
          <Condition Action="default">Accept = "Yes"</Condition>
          <Condition Action="enable">Accept = "Yes"</Condition>
          <Publish Event="NewDialog" Value="Readme_Dialog">NOT RESUME</Publish>
          <Publish Event="NewDialog" Value="Start_Installation_Dialog">RESUME</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="&lt; &amp;Back" TabSkip="no">
          <Publish Event="NewDialog" Value="Welcome_Dialog">1</Publish>
        </Control>
        <Control Id="Reset" Type="PushButton" X="124" Y="244" Width="56" Height="17" Text="&amp;Reset" TabSkip="no">
          <Publish Event="Reset" Value="0">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="License" Type="ScrollableText" X="5" Y="56" Width="363" Height="145" Text="{\rtf1\ansi\ansicpg1252\deff0\deflang1033{\fonttbl{\f0\fnil\fcharset0 MS Shell Dlg;}}&#xD;&#xA;\viewkind4\uc1\pard\f0\fs17 &#xD;&#xA;\par }&#xD;&#xA;" TabSkip="no" Sunken="yes" />
        <Control Id="Text14" Type="Text" X="20" Y="22" Width="290" Height="24" Text="You must agree with the license agreement below to proceed." TabSkip="yes" Transparent="yes" />
        <Control Id="Bitmap24" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text44" Type="Text" X="2" Y="230" Width="92" Height="12" Text="[GFITM]" TabSkip="yes" />
        <Control Id="Text13" Type="Text" X="10" Y="8" Width="310" Height="12" Text="[DIALOG_TITLE_FONT_DEFAULT]License Agreement" TabSkip="yes" Transparent="yes" />
        <Control Id="Line3" Type="Line" X="94" Y="234" Width="281" Height="0" TabSkip="yes" Disabled="yes" />
        <Control Id="Line12" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>