<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="Maintenance_Welcome_Dialog_UI">
      <Dialog Id="Maintenance_Welcome_Dialog" X="50" Y="50" Width="375" Height="270" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="SomethingElse1" Type="RadioButtonGroup" X="15" Y="51" Width="80" Height="144" Property="MaintenanceMode" TabSkip="no" Disabled="yes">
          <Condition Action="disable">1</Condition>
        </Control>
        <Control Id="Next" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Property="MaintenanceMode" Value="Remove">1</Publish>
          <Publish Property="REMOVE" Value="ALL">1</Publish>
          <Publish Event="NewDialog" Value="Verify_Remove_All">MaintenanceMode = "Remove"</Publish>
          <Publish Event="NewDialog" Value="Start_Installation_Dialog">MaintenanceMode = "Repair"</Publish>
          <Publish Event="NewDialog" Value="Select_Feature_Dialog">MaintenanceMode = "Modify"</Publish>
          <Publish Event="ReinstallMode" Value="ocmus">MaintenanceMode = "Repair"</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="&lt; &amp;Back" TabSkip="no" Disabled="yes" />
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Text2" Type="Text" X="20" Y="22" Width="290" Height="24" Text="Select the maintenance operation to perform." TabSkip="yes" Transparent="yes" />
        <Control Id="CustomText5" Type="Text" X="95" Y="126" Width="240" Height="34" Text="Reinstall missing or corrupt files, registry keys, and shortcuts.  Preferences stored in the registry may be reset to default values." TabSkip="yes" />
        <Control Id="Text3" Type="Text" X="10" Y="8" Width="310" Height="12" Text="[DIALOG_TITLE_FONT_DEFAULT]Application Maintenance" TabSkip="yes" Transparent="yes" />
        <Control Id="Text52" Type="Text" X="2" Y="230" Width="92" Height="12" Text="[GFITM]" TabSkip="yes" />
        <Control Id="TypicalText7" Type="Text" X="95" Y="182" Width="240" Height="33" Text="Uninstall [ProductName] from this computer." TabSkip="yes" />
        <Control Id="Icon8" Type="Icon" X="36" Y="186" Width="26" Height="26" Text="trash1" TabSkip="yes" Disabled="yes" />
        <Control Id="Bitmap25" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Icon30" Type="Icon" X="35" Y="128" Width="36" Height="36" Text="Icon" TabSkip="yes" Disabled="yes" />
        <Control Id="CompleteText3" Type="Text" X="95" Y="72" Width="240" Height="35" Text="Change which application features are installed.  Displays the Select Features dialog, which lets you configure individual features." TabSkip="yes" />
        <Control Id="Line402" Type="Line" X="96" Y="64" Width="240" Height="3" TabSkip="yes" Disabled="yes" />
        <Control Id="Icon29" Type="Icon" X="35" Y="75" Width="36" Height="36" Text="Custom" TabSkip="yes" Disabled="yes" />
        <Control Id="Line426" Type="Line" X="96" Y="174" Width="240" Height="3" TabSkip="yes" Disabled="yes" />
        <Control Id="Line414" Type="Line" X="96" Y="119" Width="240" Height="3" TabSkip="yes" Disabled="yes" />
        <Control Id="Line8" Type="Line" X="94" Y="234" Width="281" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="Line39" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>