<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="oldfmclientfound_UI">
      <Dialog Id="oldfmclientfound" X="50" Y="50" Width="240" Height="93" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="CustomText" Type="Text" X="19" Y="19" Width="201" Height="40" Text="An old GFI FaxMaker Client has been found and should be uninstalled. Do you want to continue this setup without removing the old client?" TabSkip="no" />
        <Control Id="PushButton" Type="PushButton" X="159" Y="58" Width="56" Height="17" Text="Yes" TabSkip="yes">
          <Publish Property="OLDCLIENT" Value="0">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="PushButton45" Type="PushButton" X="95" Y="58" Width="56" Height="17" Text="No" TabSkip="yes">
          <!--<Publish Event="DoAction" Value="WiseCleanup">1</Publish>-->
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>