<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="Progress_Dialog_UI">
      <Dialog Id="Progress_Dialog" X="50" Y="50" Width="375" Height="270" Title="[ProductName] Setup" Modeless="yes" CustomPalette="yes">
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="Cancel" TabSkip="no" Default="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Billboard" Type="Billboard" X="8" Y="244" Width="45" Height="17" TabSkip="yes" Disabled="yes">
          <Subscribe Event="SetProgress" Attribute="Progress" />
        </Control>
        <Control Id="ActionText" Type="Text" X="55" Y="60" Width="270" Height="12" TabSkip="yes">
          <Subscribe Event="ActionText" Attribute="Text" />
        </Control>
        <Control Id="Line7" Type="Line" X="94" Y="234" Width="281" Height="1" TabSkip="yes" Disabled="yes" />
        <Control Id="ActionData" Type="Text" X="55" Y="78" Width="270" Height="30" Text="Initializing..." TabSkip="yes">
          <Subscribe Event="ActionData" Attribute="Text" />
        </Control>
        <Control Id="ActionProgress95" Type="ProgressBar" X="55" Y="115" Width="270" Height="15" TabSkip="yes" Disabled="yes">
          <Subscribe Event="SetProgress" Attribute="Progress" />
        </Control>
        <Control Id="TimeRemaining" Type="Text" X="55" Y="135" Width="270" Height="12" TabSkip="yes">
          <Subscribe Event="TimeRemaining" Attribute="TimeRemaining" />
        </Control>
        <Control Id="Text28" Type="Text" X="20" Y="22" Width="290" Height="24" Text="The features you selected are currently being installed." TabSkip="yes" Transparent="yes">
          <Condition Action="hide">Uninstall</Condition>
        </Control>
        <Control Id="Bitmap26" Type="Bitmap" X="0" Y="0" Width="375" Height="50" Text="top16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text27" Type="Text" X="10" Y="8" Width="310" Height="12" Text="[DIALOG_TITLE_FONT_DEFAULT]Updating System" TabSkip="yes" Transparent="yes" />
        <Control Id="Text57" Type="Text" X="20" Y="22" Width="290" Height="24" Text="{&amp;MSSansSerif8}The features you selected are currently being uninstalled." TabSkip="yes" Transparent="yes">
          <Condition Action="hide">NOT Uninstall</Condition>
        </Control>
        <Control Id="Text51" Type="Text" X="2" Y="230" Width="92" Height="12" Text="[GFITM]" TabSkip="yes" />
        <Control Id="Line43" Type="Line" X="0" Y="50" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>