<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="upgrading9x_UI">
      <Dialog Id="upgrading9x" X="50" Y="50" Width="240" Height="93" Title="[ProductName] Setup" CustomPalette="yes">
        <Control Id="Cancel" Type="PushButton" X="90" Y="61" Width="56" Height="17" Text="OK" TabSkip="no" Cancel="yes">
          <!--<Publish Event="DoAction" Value="WiseCleanup">1</Publish>-->
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="16" Y="10" Width="204" Height="42" Text="An older version of GFI FaxMaker Client is installed. Please remove this version using the Add/Remove Programs applet from the control panel before installing this version of GFI FaxMaker Client.&#xD;&#xA;" TabSkip="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>