<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="Verify_Remove_All_UI">
      <Dialog Id="Verify_Remove_All" X="50" Y="50" Width="375" Height="270" Title="[ProductName] Uninstall" CustomPalette="yes">
        <Control Id="RemoveNow" Type="PushButton" X="244" Y="244" Width="56" Height="17" Text="&amp;Next &gt;" TabSkip="no" Default="yes">
          <Publish Event="Remove" Value="ALL">1</Publish>
          <Publish Event="EndDialog" Value="Return"><![CDATA[OutOfDiskSpace<>1]]></Publish>
          <Publish Event="SpawnDialog" Value="OutOfDisk">OutOfDiskSpace = 1</Publish>
          <Publish Property="Uninstall" Value="1">1</Publish>
        </Control>
        <Control Id="Previous" Type="PushButton" X="189" Y="244" Width="56" Height="17" Text="&lt; &amp;Back" TabSkip="no">
          <Publish Event="NewDialog" Value="Maintenance_Welcome_Dialog">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="244" Width="56" Height="17" Text="Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="136" Y="75" Width="227" Height="110" Text="This will remove [ProductName] from your machine. Are you sure you want to continue?&#xD;&#xA;&#xD;&#xA;Click the Next button to remove the application.&#xD;&#xA;&#xD;&#xA;Click the Cancel button to exit the uninstall process." TabSkip="yes" Transparent="yes" />
        <Control Id="Bitmap34" Type="Bitmap" X="0" Y="0" Width="375" Height="234" Text="side16" TabSkip="yes" Disabled="yes" />
        <Control Id="Text32" Type="Text" X="136" Y="13" Width="227" Height="40" Text="{&amp;Arial14}[ProductName] Uninstall" TabSkip="yes" Transparent="yes" />
        <Control Id="Line9" Type="Line" X="0" Y="234" Width="375" Height="1" TabSkip="yes" Disabled="yes" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>